<ol class="breadcrumb bg-light">
  <li class="breadcrumb-item ">
    Cadastrar Novo Chip
  </li>
</ol>

<div class="mycontainer">

  <div class="card mt-4">
    <!--  <div class="card-header">
        Dados do Cliente
      </div>-->
    <div class="card-body">
      <form [formGroup]="formGroup" (ngSubmit)="submitForm()">


        <div class="row form-group">

          <div class="col-sm-4">
            <label>Número</label>
            <app-info-button [control]="formGroup.controls.numero"></app-info-button>
            <input formControlName="numero"  class="form-control input-sm "  [dropSpecialCharacters]="false" mask="(00) 00000-0000"  />
          </div>

          <div class="col-sm-4">
            <label>ICCD</label>
            <app-info-button [control]="formGroup.controls.iccid"></app-info-button>
            <input formControlName="iccid"  class="form-control input-sm "  [dropSpecialCharacters]="false" mask="00000000000000000000"  />
          </div>

        </div>



        <div class="row form-group">

          <div class="col-sm-4">
            <label>Operadora</label>
            <app-info-button [control]="formGroup.controls.operadora"></app-info-button>
            <select formControlName="operadora" class="form-control input-sm" >
              <option [ngValue]="null"></option>
              <option *ngFor="let operadora of chipService.operadoras" [value]="operadora.value">{{operadora.label}}</option>
            </select>
          </div>


          <div class="col-sm-4">
            <label>Status do Chip</label>
            <app-info-button [control]="formGroup.controls.status"></app-info-button>
            <select formControlName="status" class="form-control input-sm" >
              <option [ngValue]="null"></option>
              <option *ngFor="let status of chipService.statuses" [value]="status.value">{{status.label}}</option>
            </select>
          </div>

        </div>


        <div class="row mt-3">
          <div class="col-lg-5">
            <button (click)="chipService.goList()" class="btn btn-sm btn-primary mr-3">Voltar</button>
            <button type="submit" *ngIf="chipService.operacao!='SHOW'" class="btn btn-sm btn-primary ">Salvar</button>
          </div>
          <div class="col-lg-7">
          </div>
        </div>



      </form>
    </div>
  </div>



</div>

