<div class="form-row mb-4">
  <div class="col-12 text-center">
<label>Relatório de Espectro de Velocidade no Período</label>
  </div>
</div>

<div class="form-row mb-4">

  <div class="offset-2 col-2">
    <label>Limite Inferior</label>
    <select [(ngModel)]="inferior" class="form-control input-sm">
      <option [ngValue]="40">&nbsp;&nbsp;&nbsp;&nbsp;&ge; 40km/h </option>
      <option [ngValue]="60">&nbsp;&nbsp;&nbsp;&nbsp;&ge; 60km/h </option>
      <option [ngValue]="80">&nbsp;&nbsp;&nbsp;&nbsp;&ge; 80km/h </option>
      <option [ngValue]="90">&nbsp;&nbsp;&nbsp;&nbsp;&ge; 90km/h </option>
      <option [ngValue]="100">&nbsp;&nbsp;&nbsp;&nbsp;&ge; 100km/h </option>
      <option [ngValue]="110">&nbsp;&nbsp;&nbsp;&nbsp;&ge; 110km/h </option>
      <option [ngValue]="120">&nbsp;&nbsp;&nbsp;&nbsp;&ge; 120km/h </option>
    </select>
  </div>


    <div class="col-2">
    <label>Limite Superior</label>
    <select [(ngModel)]="superior" class="form-control input-sm" >
      <option [ngValue]="null"></option>
      <option [ngValue]="60">&nbsp;&nbsp;&nbsp;&nbsp;&le; 60km/h </option>
      <option [ngValue]="80">&nbsp;&nbsp;&nbsp;&nbsp;&le; 80km/h </option>
      <option [ngValue]="90">&nbsp;&nbsp;&nbsp;&nbsp;&le; 90km/h </option>
      <option [ngValue]="100">&nbsp;&nbsp;&nbsp;&nbsp;&le; 100km/h </option>
      <option [ngValue]="110">&nbsp;&nbsp;&nbsp;&nbsp;&le; 110km/h </option>
      <option [ngValue]="120">&nbsp;&nbsp;&nbsp;&nbsp;&le; 120km/h </option>
  </select>



  </div>


  <div class="col-2">

      <label>Início do Período</label>
      <input
        class="form-control input-sm"
        bsDatepicker
        [bsConfig]= "datepickerConfigService.setConfig(true)"
        [(ngModel)]="inicio"
      >

  </div>

  <div class="col-2">

      <label>Fim do Período</label>
      <input
        class="form-control input-sm"
        bsDatepicker
        [bsConfig]= "datepickerConfigService.setConfig(true)"
        [(ngModel)]="fim"
      >

  </div>

</div>


<div class="form-row">
  <div class="offset-2 col-8 text-left">
    <button (click)="relatorioExcessoDeVelocidade('pdf')" class="btn btn-primary btn-sm w-100px mr-2">Pdf<i class="fa fa-file-pdf ml-2"></i></button>
    <button (click)="relatorioExcessoDeVelocidade('excel')" class="btn btn-primary btn-sm w-100px">Excel<i class="fa fa-file-excel ml-2"></i></button>
  </div>
</div>
