<ol class="breadcrumb bg-light">
  <li class="breadcrumb-item ">
    Controle de Acessos
  </li>
</ol>

<div class="mycontainer">

  <div class="card mt-4">

    <div class="card-body">

        <div class="row form-group">
          <div class="col-sm-4">
            <label>Perfil</label>
            <select class="form-control input-sm" [(ngModel)]="perfil" (change)="atualizaPermissoesDoPerfil()" >
              <option [ngValue]="null"></option>
              <option *ngFor="let p of controleService.perfis" [ngValue]="p">{{p.tipo}}</option>
            </select>
          </div>
        </div>


      <div class="row align-items-center">

        <div class="col-sm-4">
          <label>Permissões Disponíveis</label>
          <select class="form-control input-sm" [(ngModel)]="permissoesParaAtribuir" [multiple]="true" [size]="20">
            <option *ngFor="let p of permissoesDisponiveis" [ngValue]="p">{{p.descricao}}</option>
          </select>
        </div>

        <div class="col-sm-1">
          <div class="row">
          <button class="btn btn-primary btn-sm w-100 mb-2" (click)="atribuirPermissoes()"><i class="fa fa-angle-double-right"></i></button>
          </div>
          <div class="row">
          <button class="btn btn-primary btn-sm w-100" (click)="retirarPermissoes()"><i class="fa fa-angle-double-left"></i></button>
          </div>
        </div>

        <div class="col-sm-4">
          <label>Permissões Do Perfil</label>
          <select class="form-control input-sm" [(ngModel)]="permissoesParaRetirar" [multiple]="true" [size]="20">
            <option *ngFor="let p of permissoesDoPerfil" [ngValue]="p">{{p.descricao}}</option>
          </select>
        </div>

      </div>

      <div class="row form-group">
        <div class="col-sm-4">
        <button class="btn btn-primary btn-sm W-100 mt-4" (click)="submit()" >Salvar</button>
          <div class="col-sm-4">
      </div>




    </div>
  </div>
</div>
  </div>

</div>
