<p-dialog header="{{dialogService.messageTitle}}" [(visible)]="dialogService.displayChartDialog"
          [style]="{width: '900px',  textAlign: 'center'}"
          [contentStyle]="{'min-height':'620px'}"
          [modal]="true"
          [baseZIndex]="100000"
          [blockScroll]="true"
>


  <google-chart *ngIf="chart.data.length > 0"
    [title]="chart.title"
    [type]="chart.type"
    [data]="chart.data"
    [columnNames]="chart.columnNames"
    [options]="chart.options"
  width="870"
                height="600"

  >

  </google-chart>

  <p-progressSpinner *ngIf="chart.data.length <= 0" styleClass="m-2" ></p-progressSpinner>

</p-dialog>
