<ol class="breadcrumb bg-light">
  <li class="breadcrumb-item ">
    Cadastrar Ordem de Serviço
  </li>
</ol>
<!--
formGroup = this.fb.group({
dataDoServico: [,Obrigatorio],
cliente:[,Obrigatorio],
v:[,Obrigatorio],
observacao:[,Obrigatorio],

operador:[,Obrigatorio],
servico:[,Obrigatorio],
valorDoServico:[,Obrigatorio],
status:[,Obrigatorio]

});-->


<div class="mycontainer">

  <div class="card mt-4">
    <!--  <div class="card-header">
        Dados do Cliente
      </div>-->
    <div class="card-body">
      <form [formGroup]="formGroup" (ngSubmit)="submitForm()">


        <div class="row form-group">

          <div class="col-sm-4">
            <label>Tipo de Serviço</label>
            <app-info-button [control]="formGroup.controls.servico"></app-info-button>
            <select formControlName="servico" class="form-control input-sm">
              <option [ngValue]="null">&nbsp;</option>
              <option *ngFor="let obj of ordemDeServicoService.servicos" [value]="obj">{{obj}}</option>
            </select>
          </div>


          <div class="col-sm-4">
            <label>Operador</label>
            <app-info-button [control]="formGroup.controls.operador"></app-info-button>
            <ng-select class="input-sm w-100"
                       bindLabel="nome"
                       notFoundText="não encontrado"
                       [multiple]="false"
                       [items]="searchServices.empregadosResult"
                       (search)="searchServices.searchEmpregados($event.term)"
                       formControlName="operador">
            </ng-select>
          </div>

          <div class="col-sm-4">

            <label>Data da Execução</label>
            <app-info-button [control]="formGroup.controls.dataDoServico"></app-info-button>
            <input [disabled]="true"
              class="form-control input-sm"
              bsDatepicker
              [bsConfig]= "bsConfig"
              formControlName="dataDoServico"
            >
          </div>

        </div>

        <div class="row form-group">

          <div class="col-sm-4">
            <label>Cliente</label>
            <app-info-button [control]="formGroup.controls.cliente"></app-info-button>
            <ng-select class="input-sm w-100"  [disabled]="ordemDeServicoService.operacao=='SHOW'"
                       bindLabel="nome"
                       notFoundText="não encontrado"
                       [multiple]="false"
                       [items]="searchServices.clientesResult"
                       (search)="searchServices.searchClientes($event.term)"
                       (change)="ordemDeServicoService.searchVeiculosCliente($event)"
                       formControlName="cliente">
            </ng-select>
          </div>

          <div class="col-sm-4">
            <label>Veículo</label>
            <app-info-button [control]="formGroup.controls.veiculo"></app-info-button>
            <select formControlName="veiculo" class="form-control input-sm">
              <option [ngValue]="null">&nbsp;</option>

              <option *ngFor="let veiculo of ordemDeServicoService.veiculosDoCliente" [ngValue]="veiculo">{{veiculo.placa}}-{{veiculo.marcaModelo}}</option>

            </select>
          </div>

        <div class="col-sm-4">
            <label>Custo da Moveltrack</label>
            <app-info-button [control]="formGroup.controls.valorDoServico"></app-info-button>
            <input formControlName="valorDoServico"  class="form-control input-sm" type="text" currencyMask   />
          </div>
        </div>

        <div class="row form-group">

          <div class="col-sm-8">
            <label>Observação</label>
            <app-info-button [control]="formGroup.controls.observacao"></app-info-button>
            <input formControlName="observacao"  class="form-control input-sm" type="text" />
          </div>

          <div class="col-sm-2">
            <label>Status</label>
            <app-info-button [control]="formGroup.controls.status"></app-info-button>
            <select formControlName="status" class="form-control input-sm">
              <option [ngValue]="OrdemDeServicoStatus.FECHADA">FECHADA</option>
              <option [ngValue]="OrdemDeServicoStatus.CANCELADA">CANCELADA</option>
            </select>
          </div>

          <div class="col-sm-2">
            <label>Número</label>
            <input formControlName="numero" disabled class="form-control input-sm" type="text"/>
          </div>


        </div>





        <div class="row mt-3">
          <div class="col-lg-5">
            <button (click)="ordemDeServicoService.goList()" class="btn btn-sm btn-primary mr-3">Voltar</button>
            <button type="submit" *ngIf="ordemDeServicoService.operacao!='SHOW'" class="btn btn-sm btn-primary ">Salvar</button>
          </div>
          <div class="col-lg-7">
          </div>
        </div>



      </form>
    </div>
  </div>



</div>

