<div class="form-row mb-4">
  <div class="col-12 text-center">
    <label>Relatório de Distância Percorrida no Período</label>
  </div>
</div>

  <div class="form-row mb-4">
  <div class="col-3">
    <label>Filtrar por Veículo</label>
    <select [(ngModel)]="veiculo" class="form-control input-xs">
      <option [ngValue]="null"></option>
      <option *ngFor="let veiculo of relatoriosService.veiculos" [ngValue]="veiculo">&nbsp;{{ veiculo.placa }}
        -{{veiculo.marcaModelo}}</option>
    </select>
  </div>

  <div class="col-3">
    <label>Ordenar por</label>
    <select [(ngModel)]="orderBy" class="form-control input-xs">
      <option value="distancia">Distância</option>
      <option value="placa">Placa do Veículo</option>
    </select>
  </div>



  <div class="col-3">

    <label>Início do Período</label>
    <input
      class="form-control input-xs"
      bsDatepicker
      [bsConfig]="datepickerConfigService.setConfig(false)"
      [(ngModel)]="inicio"
    >

  </div>

  <div class="col-3">
    <label>Fim do Período</label>
    <input
      class="form-control input-xs"
      bsDatepicker
      [bsConfig]="datepickerConfigService.setConfig(false)"
      [(ngModel)]="fim"
    >
  </div>
</div>

<div class="form-row mb-2">
  <div class="col-12">
    <button (click)="relatorioDistanciaDiaria('pdf')"  class="btn btn-primary btn-sm w-100px mr-2">Pdf<i class="fa fa-file-pdf ml-2"></i></button>
    <button (click)="relatorioDistanciaDiaria('excel')"  class="btn btn-primary btn-sm w-100px">Excel<i class="fa fa-file-excel ml-2"></i></button>
  </div>
</div>
