<app-header titulo="Clientes"></app-header>
<ion-progress-bar color="primary" *ngIf="showProgressBar"  type="indeterminate"></ion-progress-bar>
<ion-content padding>



    <ion-list>
        <ion-list-header>


                <ion-label>Nome:</ion-label>
                <ion-input placeholder="Cliente" [(ngModel)]="nome" name="nome" ></ion-input>
                <ion-button [disabled]="showProgressBar" (click)="searchClientes()">
                    <ion-icon  name="search" ></ion-icon>
                </ion-button>


        </ion-list-header>



        <ion-item *ngFor="let cliente of dataService.clientes"  routerLink="#" (click)="goVeiculos(cliente)" >

                <label>{{cliente.nome}}</label>

        </ion-item>




    </ion-list>




</ion-content>
