<ol class="breadcrumb bg-light">
  <li class="breadcrumb-item">
    Chips
  </li>
</ol>
<div class="mycontainer">
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-xs">
      <thead>
      <tr>
        <th>Iccid
            <input [(ngModel)]="chipService.filtro.iccid" class="form-control input input-xs"/>
          </th>
          <th>Número
            <input [(ngModel)]="chipService.filtro.numero" class="form-control input input-xs"/>
          </th>
          <th>Operadora
            <select [(ngModel)]="chipService.filtro.operadora" class="form-control input input-xs">
              <option [ngValue]="null"></option>
              <option *ngFor="let operadora of chipService.operadoras" [value]="operadora.value">{{operadora.label}}</option>
            </select>
          </th>
          <th class="text-center">Data Cadastro</th>
          <th>Status
            <select [(ngModel)]="chipService.filtro.status" class="form-control input input-xs">
              <option [ngValue]="null"></option>
              <option *ngFor="let status of chipService.statuses" [value]="status.value">{{status.label}}</option>
            </select>
          </th>

          <th class="text-center"><button (click)="filtrar()" class="btn btn-primary btn-sm ml-3 mr-3">Filtrar</button></th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let chip of chipService.page.list">
          <td class="text-center">{{chip.iccid}}</td>
          <td class="text-center">{{chip.numero}}</td>
          <td class="text-center">{{chip.operadora}}</td>
          <td class="text-center">{{chip.dataCadastro | date:'dd/MM/yy HH:mm'}}</td>
          <td class="text-center">{{chip.status}}</td>
          <td class="text-center">
            <button (click)="chipService.goShow(chip)" title="Ver" class="btn btn-xs btn-secondary btn-21"><i class="fa fa-search"></i></button>
            <button (click)="chipService.goUpdate(chip)" title="Atualizar" class="btn btn-xs btn-warning btn-21"><i class="fa fa-wrench"></i></button>
          </td>
        </tr>
      </tbody>

      <tfoot>
      <tr>
        <th colspan="12">
          <div class="ui-toolbar">

            <select [(ngModel)]="chipService.page.pageSize" class="input-xs mr-5" (change)="changePageSize()">
              <option value="10">10 linhas</option>
              <option value="20">20 linhas</option>
              <option value="30">30 linhas</option>
              <option value="40">40 linhas</option>
              <option value="50">50 linhas</option>
            </select>

            <pagination class="ml-5"
                        [totalItems]="chipService.page.totalRecords"
                        [(ngModel)]="chipService.page.pageIndex"
                        [boundaryLinks]="true"
                        (pageChanged)="pageChanged($event)"
                        [itemsPerPage]="chipService.page.pageSize"
                        [maxSize]="10"
                        [rotate]="true"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
            >
            </pagination>

            <div class="ui-toolbar-group-right">
              Número de registros: {{chipService.page.totalRecords}}
            </div>

          </div>
        </th>
      </tr>
      </tfoot>

    </table>
      <button *ngIf="segurancaService.temPermissao('CHIP_INSERIR_ATUALIZAR')" (click)="chipService.goCreate()"  class="btn btn-primary btn-sm mt-2">
        <i class="fa fa-plus-circle mr-1"></i>Cadastrar Novo Chip
      </button>
  </div>


</div>








