<ol class="breadcrumb bg-light">
  <li class="breadcrumb-item ">
   Listar Ordens de Serviço
  </li>
</ol>

<div class="mycontainer">
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-xs">
      <thead>
        <tr>
          <th>Número
            <input [(ngModel)]="ordemDeServicoService.filtro.numero" class="form-control input input-xs"/>
          </th>
          <th>Tipo de Serviço
            <select [(ngModel)]="ordemDeServicoService.filtro.servico" class="form-control input input-xs">
              <option [ngValue]="null"></option>
              <option *ngFor="let option of ordemDeServicoService.servicos" [value]="option">{{option}}</option>
            </select>
          </th>
          <th>Status
            <select [(ngModel)]="ordemDeServicoService.filtro.status" class="form-control input input-xs">
              <option [ngValue]="null"></option>
              <option *ngFor="let status of statuses" [value]="status.value">{{status.label}}</option>
            </select>
          </th>

          <th>Cliente

            <ng-select [items]="searchService.clientesResult" class="input-xs w-100"
                       bindLabel="nome"
                       [multiple]="false"
                       (search)="searchService.searchClientes($event.term)"
                       [(ngModel)]="ordemDeServicoService.filtro.cliente">
            </ng-select>


          </th>

          <th>Veículo
            <ng-select [items]="searchService.veiculosResult" class="input-xs w-100"
                       bindLabel="placa"
                       [multiple]="false"
                       (search)="searchService.searchVeiculos($event.term)"
                       [(ngModel)]="ordemDeServicoService.filtro.veiculo">
            </ng-select>

          </th>
          <th class="text-center">Data de Execução</th>
          <th>Executor

            <ng-select [items]="searchService.empregadosResult" class="input-xs w-100"
                       bindLabel="nome"
                       [multiple]="false"
                       (search)="searchService.searchEmpregados($event.term)"
                       [(ngModel)]="ordemDeServicoService.filtro.operador">
            </ng-select>

          </th>

          <th class="text-center"><button (click)="filtrar()" class="btn btn-primary btn-sm ml-3 mr-3">Filtrar</button></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ordemDeServico of ordemDeServicoService.page.list">
          <td class="text-center">{{ordemDeServico.numero}}</td>
          <td class="text-center">{{ordemDeServico.servico}}</td>
          <td class="text-center">{{ordemDeServico.status}}</td>
          <td class="text-left">{{ordemDeServico.cliente.nome}}</td>
          <td class="text-center">{{ordemDeServico.veiculo?.placa}}</td>
          <td class="text-center">{{ordemDeServico.dataDoServico | date:'dd/MM/yy HH:mm'}}</td>
          <td class="text-center">{{ordemDeServico.operador.nome}}</td>
          <td class="text-center">
            <button (click)="ordemDeServicoService.goShow(ordemDeServico)" title="Ver" class="btn btn-xs btn-secondary btn-21"><i class="fa fa-search"></i></button>
            <button (click)="ordemDeServicoService.goUpdate(ordemDeServico)" title="Atualizar" class="btn btn-xs btn-warning btn-21"><i class="fa fa-wrench"></i></button>
            <button (click)="lancamentoService.goCreate(ordemDeServico)" title="Lançar Valor Recebido" class="btn btn-xs btn-danger btn-21"><i class="fa fa-dollar-sign"></i></button>
          </td>
        </tr>
      </tbody>

      <tfoot>
      <tr>
        <th colspan="12">
          <div class="ui-toolbar">

            <select [(ngModel)]="ordemDeServicoService.page.pageSize" class="input-xs mr-5" (change)="changePageSize()">
              <option value="10">10 linhas</option>
              <option value="20">20 linhas</option>
              <option value="30">30 linhas</option>
              <option value="40">40 linhas</option>
              <option value="50">50 linhas</option>
            </select>

            <pagination class="ml-5"
                        [totalItems]="ordemDeServicoService.page.totalRecords"
                        [(ngModel)]="ordemDeServicoService.page.pageIndex"
                        [boundaryLinks]="true"
                        (pageChanged)="pageChanged($event)"
                        [itemsPerPage]="ordemDeServicoService.page.pageSize"
                        [maxSize]="10"
                        [rotate]="true"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
            >
            </pagination>

            <div class="ui-toolbar-group-right">
              Número de registros: {{ordemDeServicoService.page.totalRecords}}
            </div>

          </div>
        </th>
      </tr>
      </tfoot>

    </table>

    <button *ngIf="segurancaService.temPermissao('VEICULO_INSERIR')"  (click)="ordemDeServicoService.goCreate()"  class="btn btn-primary btn-sm mt-2">
      <i class="fa fa-plus-circle mr-1"></i>Cadastrar Nova Ordem de Servico..
    </button>&nbsp;

  </div>




</div>








