<p-dialog header="{{dialogService.messageTitle}}" [visible]="dialogService.displayWaitDialog"
          [style]="{width: '300px',  textAlign: 'center'}"
          [modal]="true"
          [baseZIndex]="100000"
          [closable]="false"
          [blockScroll]="true"

>
  <p-progressSpinner  styleClass="m-2" ></p-progressSpinner>
</p-dialog>

<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">

                <form #form="ngForm" (submit)="login(form)">
                  <h1>Login</h1>
                  <p class="text-muted" *ngIf="!error">Digite sua credenciais</p>
                  <p class="text-danger" *ngIf="error">Usuário ou Senha Inválida</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" autocomplete="username" required
                           [(ngModel)]="username" #cpfInput="ngModel" name="username"
                           [class.is-invalid]="(cpfInput.invalid || error) &&form.submitted "
                           [class.is-valid]="cpfInput.valid &&form.submitted">
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" autocomplete="current-password" required
                           [(ngModel)]="password" #senhaInput="ngModel" name="password"
                           [class.is-invalid]="(senhaInput.invalid || error) && form.submitted "
                           [class.is-valid]="senhaInput.valid &&form.submitted">
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary px-4">Entrar</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Esqueceu a senha?</button>
                    </div>
                  </div>
                </form>

              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h1><img src="assets/images/moveltrack/logo_azul_221_57_invertido.png"></h1>
                  <p></p>
                  <small>Entre em nossa nova plataforma</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
