<div class="breadcrumb mb-0">
  Relatórios da Frota
</div>

<div class="mycontainer mt-4 ">

  <div style="width: 900px" >
    <tabset [vertical]="false" [justified]="true" >

      <tab *ngIf="segurancaService.temPermissao('RELATORIO_COBRANCA')" heading="Relatório de Cobrança">
        <app-relatorio-cobranca></app-relatorio-cobranca>
      </tab>

      <tab *ngIf="segurancaService.temPermissao('RELATORIO_OPERADOR')" heading="Relatório do Instalador">
        <app-relatorio-instalador></app-relatorio-instalador>
      </tab>

      <tab *ngIf="segurancaService.temPermissao('RELATORIO_SINAL')" heading="Relatório de Sinais">
        <app-relatorio-sinal></app-relatorio-sinal>
      </tab>


    </tabset>
  </div>


</div>

