<p-dialog header="{{dialogService.messageTitle}}" [visible]="dialogService.displayConfirmDialog"
          [style]="{width: '300px',  textAlign: 'center'}"
          [modal]="true"
          [baseZIndex]="100000"
          [closable]="false"
          [blockScroll]="true"
>


  <div class="form-row">{{dialogService.messageText}}</div>
  <div class="form-row mt-4">
    <div class="col-6">
      <button (click)="naoMethod()" class="btn btn-sm btn-default w-100 mr-4">Não</button>
    </div>
    <div class="col-6">
      <button (click)="doMethod()" class="btn btn-sm btn-primary w-100">Sim</button>
    </div>
  </div>


</p-dialog>
