
<div class="row">

  <div class="col-sm-3">
  </div>

  <div class="col-sm-6">
    <div class="form-group ">
      <label>Nome do Motorista</label>

      <ng-select class="input-xs w-100"
                 bindLabel="nome"
                 notFoundText="não encontrado"
                 [multiple]="false"
                 [items]="searchService.motoristasResult"
                 (search)="searchService.searchMotoristas($event.term)"
                 [(ngModel)]="motorista">
      </ng-select>



    </div>
  </div>




</div>


<div class="row ">

  <div class="col-sm-3">
  </div>

  <div class="col-sm-3">
    <div class="form-group ">
      <label>Início do Período</label>
      <input
        class="form-control input-xs"
        bsDatepicker
        [bsConfig]= "datepickerConfigService.setConfig(true)"
        [(ngModel)]="inicio"
      >
    </div>
  </div>

  <div class="col-sm-3">
    <div class="form-group ">
      <label>Fim do Período</label>
      <input
        class="form-control input-xs"
        bsDatepicker
        [bsConfig]= "datepickerConfigService.setConfig(true)"
        [(ngModel)]="fim"
      >
    </div>
  </div>


  <div class="col-sm-3">
  </div>

</div>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">

    <hr class="m-2">

    <div class="row pl-3 pr-3">
      <div class="col-sm-6">Viagens do Motorista</div>
      <div class="col-sm-3">
        <button (click)="relatorioViagensDoMotorista('pdf')" class="btn btn-primary btn-sm btn-block">Pdf<i class="fa fa-file-pdf ml-2"></i></button>
      </div>
      <div class="col-sm-3">
        <button (click)="relatorioViagensDoMotorista('excel')" class="btn btn-primary btn-sm btn-block">Excel<i class="fa fa-file-excel ml-2"></i></button>
        <!--<button [disabled]="true" class="btn btn-secondary btn-sm btn-block">Gráfico<i class="fa fa-pie-chart ml-2"></i></button>-->
      </div>
    </div>

    <hr class="m-2">

  </div>
  <div class="col-sm-1"></div>
</div>


