/*
ion-content,  app-root{
  --background: url('../assets/fundo_novo.png') no-repeat center center / cover !important;;
}
*/

ion-content, ion-item, ion-list, ion-list-header, ion-progress-bar{
  --background: #e9e5dd ;
}

.degrade{
  --background: linear-gradient(#FFF,#e9e5dd);
  //color: white;
}
