<ion-app>

    <ion-menu type="overlay" style="margin-top: 20px !important">

        <ion-header >



                <ion-item class="degrade" >
                    <ion-icon name="contact"  style="font-size: 64px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px" ></ion-icon>
                    <div class="ion-text-sm-left">{{dataService.cliente?.nome}}</div>
                </ion-item>


        </ion-header>

        <ion-content>

                <ion-menu-toggle auto-hide="false" *ngFor="let p of sideMenuService.appPages">

                    <ion-item  [routerDirection]="'root'" [routerLink]="[p.url]">
                        <ion-icon  slot="start" [name]="p.icon"></ion-icon>
                        <ion-label >
                            {{p.title}}
                        </ion-label>
                    </ion-item>

                </ion-menu-toggle>

        </ion-content>
    </ion-menu>

       <ion-router-outlet main></ion-router-outlet>


</ion-app>
