<div class="form-row mb-2">
  <div class="col-12 text-center">
    <label>Relatório de uso de veículo fora de expediente</label>
  </div>
</div>

<div class="form-row mb-2">
  <div class="col-6">

    <div class="form-row mb-1">
      <div class="col-4">
        <span class="btn btn-primary btn-sm mt-3 w-100">Segunda-Feira</span>
      </div>
      <div class="col-4">
        <label>Início Expediente</label>
        <timepicker [(ngModel)]="relatorioUsoIndevidoParam.segundaInicio" [disabled]="disabled" [showSpinners]="false" [showMeridian]="false"></timepicker>
      </div>
      <div class="col-4">
        <label>Fim Expediente</label>
        <timepicker [(ngModel)]="relatorioUsoIndevidoParam.segundaFim" [disabled]="disabled" [showSpinners]="false" [showMeridian]="false"></timepicker>
      </div>
    </div>

    <div class="form-row mb-1">
      <div class="col-4">
        <span class="btn btn-primary btn-sm mt-3 w-100">Terça-Feira</span>
      </div>
      <div class="col-4">
        <label>Início Expediente</label>
        <timepicker [(ngModel)]="relatorioUsoIndevidoParam.tercaInicio" [disabled]="disabled"  [showSpinners]="false" [showMeridian]="false"></timepicker>
      </div>
      <div class="col-4">
        <label>Fim Expediente</label>
        <timepicker [(ngModel)]="relatorioUsoIndevidoParam.tercaFim" [disabled]="disabled"  [showSpinners]="false" [showMeridian]="false"></timepicker>
      </div>
    </div>

    <div class="form-row mb-1">
      <div class="col-4">
        <span class="btn btn-primary btn-sm mt-3 w-100">Quarta-Feira</span>
      </div>
      <div class="col-4">
        <label>Início Expediente</label>
        <timepicker [(ngModel)]="relatorioUsoIndevidoParam.quartaInicio" [disabled]="disabled"  [showSpinners]="false" [showMeridian]="false"></timepicker>
      </div>
      <div class="col-4">
        <label>Fim Expediente</label>
        <timepicker [(ngModel)]="relatorioUsoIndevidoParam.quartaFim"  [disabled]="disabled" [showSpinners]="false" [showMeridian]="false"></timepicker>
      </div>
    </div>

    <div class="form-row mb-1">
      <div class="col-4">
        <span class="btn btn-primary btn-sm mt-3 w-100">Quinta-Feira</span>
      </div>
      <div class="col-4">
        <label>Início Expediente</label>
        <timepicker [(ngModel)]="relatorioUsoIndevidoParam.quintaInicio"  [disabled]="disabled" [showSpinners]="false" [showMeridian]="false"></timepicker>
      </div>
      <div class="col-4">
        <label>Fim Expediente</label>
        <timepicker [(ngModel)]="relatorioUsoIndevidoParam.quintaFim" [disabled]="disabled"  [showSpinners]="false" [showMeridian]="false"></timepicker>
      </div>
    </div>

    <div class="form-row mb-1">
      <div class="col-4">
        <span class="btn btn-primary btn-sm mt-3 w-100">Sexta</span>
      </div>
      <div class="col-4">
        <label>Início Expediente</label>
        <timepicker [(ngModel)]="relatorioUsoIndevidoParam.sextaInicio" [disabled]="disabled"  [showSpinners]="false" [showMeridian]="false"></timepicker>
      </div>
      <div class="col-4">
        <label>Fim Expediente</label>
        <timepicker [(ngModel)]="relatorioUsoIndevidoParam.sextaFim" [disabled]="disabled"  [showSpinners]="false" [showMeridian]="false"></timepicker>
      </div>
    </div>

    <div class="form-row mb-1">
      <div class="col-4">
        <span class="btn btn-primary btn-sm mt-3 w-100">Sábado</span>
      </div>
      <div class="col-4">
        <label>Início Expediente</label>
        <timepicker [(ngModel)]="relatorioUsoIndevidoParam.sabadoInicio" [disabled]="disabled"  [showSpinners]="false" [showMeridian]="false"></timepicker>
      </div>
      <div class="col-4">
        <label>Fim Expediente</label>
        <timepicker [(ngModel)]="relatorioUsoIndevidoParam.sabadoFim" [disabled]="disabled"  [showSpinners]="false" [showMeridian]="false"></timepicker>
      </div>
    </div>

    <div class="form-row mb-1">
      <div class="col-4">
        <span class="btn btn-primary btn-sm mt-3 w-100">Domingo</span>
      </div>
      <div class="col-4">
        <label>Início Expediente</label>
        <timepicker [(ngModel)]="relatorioUsoIndevidoParam.domingoInicio"  [disabled]="disabled" [showSpinners]="false" [showMeridian]="false"></timepicker>
      </div>
      <div class="col-4">
        <label>Fim Expediente</label>
        <timepicker [(ngModel)]="relatorioUsoIndevidoParam.domingoFim"  [disabled]="disabled" [showSpinners]="false" [showMeridian]="false"></timepicker>
      </div>
    </div>




  </div>

  <div class="col-1">&nbsp;</div>


  <div class="col-5">

    <div class="form-row mb-2">
      <div class="col-4">
        <label>Filtrar por Veículo</label>
        <select [(ngModel)]="veiculo" class="form-control input-xs">
          <option [ngValue]="null"></option>
          <option *ngFor="let veiculo of relatoriosService.veiculos" [ngValue]="veiculo">&nbsp;{{ veiculo.placa }}
            -{{veiculo.marcaModelo}}</option>
        </select>
      </div>
    </div>


    <div class="form-row mb-2">
      <div class="col-4">
        <label>Ordenar por</label>
        <select [(ngModel)]="orderBy" class="form-control input-xs">
          <option value="data">Data</option>
          <option value="veiculo">Veículo</option>
        </select>
      </div>
    </div>


    <div class="form-row mb-2">
      <div class="col-4">

        <label>Início do Período</label>
        <input
          class="form-control input-xs"
          bsDatepicker
          [bsConfig]="datepickerConfigService.setConfig(true)"
          [(ngModel)]="inicio"
        >

      </div>
    </div>

    <div class="form-row mb-2">
      <div class="col-4">
        <label>Fim do Período</label>
        <input
          class="form-control input-xs"
          bsDatepicker
          [bsConfig]="datepickerConfigService.setConfig(true)"
          [(ngModel)]="fim"
        >
      </div>
    </div>

    <div class="form-row mb-2">
      <div class="col-4">
        <button (click)="relatorioUsoIndevido('pdf')" [disabled]="!disabled" class="btn btn-primary btn-sm w-100">Pdf<i class="fa fa-file-pdf ml-2"></i></button>
      </div>
    </div>

    <div class="form-row">
      <div class="col-4">
        <button (click)="relatorioUsoIndevido('excel')" [disabled]="!disabled" class="btn btn-primary btn-sm w-100 ">Excel<i class="fa fa-file-pdf ml-2"></i></button>
      </div>
    </div>




  </div>

</div>

<div class="form-row mt-3">
  <div class="col-3">
    <button class="btn btn-danger btn-sm " [disabled]="disabled" (click)="salvarExpedientes()">Salvar Expedientes<i class="fa fa-file-pdf ml-2"></i></button>
  </div>
  <div class="col-3">
    <button class="btn btn-danger btn-sm " [disabled]="!disabled" (click)="editarExpediente()">Editar Expedientes<i class="fa fa-file-pdf ml-2"></i></button>
  </div>

</div>
