<ol class="breadcrumb bg-light">
  <li class="breadcrumb-item">
    Empregados
  </li>
</ol>
<div class="mycontainer">
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-xs">
      <thead>
      <tr>
        <th>Nome
          <input class="form-control input-xs" [(ngModel)]="empregadoService.filtro.nome">
        </th>
        <th>CPF
          <input class="form-control input-xs" [(ngModel)]="empregadoService.filtro.cpf">
        </th>
        <th>Status
          <select [(ngModel)]="empregadoService.filtro.status" class="form-control input input-xs">
          <option [ngValue]="null"></option>
          <option *ngFor="let status of empregadoService.statuses" [value]="status.value">{{status.label}}</option>
        </select></th>
        <th class="text-center">Endereço</th>
        <th class="text-center">Cidade</th>
        <th class="text-center">Celular</th>
        <th class="text-center"><button (click)="filtrar()" class="btn btn-primary btn-sm ml-3 mr-3">Filtrar</button></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let empregado of empregadoService.page.list">
        <td class="text-center">{{empregado.nome}}</td>
        <td class="text-center">{{empregado.cpf}}</td>
        <td class="text-center">{{empregado.status}}</td>
        <td class="text-center">{{empregado.endereco}}</td>
        <td class="text-center">{{empregado.municipio?.descricao}}</td>
        <td class="text-center">{{empregado.celular1}}</td>
        <td class="text-center">
          <button (click)="empregadoService.goShow(empregado)" title="Ver" class="btn btn-xs btn-secondary btn-21"><i class="fa fa-search"></i></button>
          <button (click)="empregadoService.goUpdate(empregado)" title="Atualizar" class="btn btn-xs btn-warning btn-21"><i class="fa fa-wrench"></i></button>
          <button *ngIf="segurancaService.temPermissao('SENHA_QUALQUER')" (click)="segurancaService.goSenha(empregado)" title="Trocar Senha" class="btn btn-xs btn-warning"><i class="fa fa-lock"></i></button>
        </td>
      </tr>
      </tbody>

      <tfoot>
      <tr>
        <th colspan="12">
          <div class="ui-toolbar">

            <select [(ngModel)]="empregadoService.page.pageSize" class="input-xs mr-5" (change)="changePageSize()">
              <option value="10">10 linhas</option>
              <option value="20">20 linhas</option>
              <option value="30">30 linhas</option>
              <option value="40">40 linhas</option>
              <option value="50">50 linhas</option>
            </select>

            <pagination class="ml-5"
                        [totalItems]="empregadoService.page.totalRecords"
                        [(ngModel)]="empregadoService.page.pageIndex"
                        [boundaryLinks]="true"
                        (pageChanged)="pageChanged($event)"
                        [itemsPerPage]="empregadoService.page.pageSize"
                        [maxSize]="10"
                        [rotate]="true"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
            >
            </pagination>

            <div class="ui-toolbar-group-right">
              Número de registros: {{empregadoService.page.totalRecords}}
            </div>

          </div>
        </th>
      </tr>
      </tfoot>

    </table>
    <button *ngIf="segurancaService.temPermissao('CHIP_INSERIR_ATUALIZAR')" (click)="empregadoService.goCreate()"  class="btn btn-primary btn-sm mt-2">
      <i class="fa fa-plus-circle mr-1"></i>Cadastrar Novo Empregado
    </button>
  </div>


</div>









