<ol class="breadcrumb bg-light">
  <li class="breadcrumb-item">
    Boletos
  </li>
</ol>

<div class="ml-4 mr-4 mb-4">

  <div class="table-responsive">
    <table class="table table-bordered table-striped table-xs">
      <thead>
      <tr>
        <th class="w-min-150">Contrato

          <ng-select class="input-xs w-100"
                     bindLabel="label"
                     notFoundText="não encontrado"
                     [multiple]="false"
                     [items]="searchService.contratosResult"
                     (search)="searchService.searchContratos($event.term)"
                     [(ngModel)]="boletoService.filtro.contrato">
          </ng-select>

        </th>
        <th>Identificador
          <input [(ngModel)]="boletoService.filtro.nossoNumero" class="form-control input-xs">
        </th>
        <th class="text-center" >Data Emissao</th>
        <th class="text-center" >Pagamento</th>
        <th class="text-center" >Reg. Pagamento</th>
        <th>Emissor

          <ng-select class="input-xs w-100"
                     bindLabel="nome"
                     notFoundText="não encontrado"
                     [multiple]="false"
                     [items]="searchService.empregadosResult"
                     (search)="searchService.searchEmpregados($event.term)"
                     [(ngModel)]="boletoService.filtro.emissor">
          </ng-select>

        </th>
        <th class="text-center">Valor</th>
        <th class="text-center">Vencimento
          <button class="btn btn-link" *ngIf="boletoService.page.sortDirection=='DESC'"
                  (click)="boletoService.sortBy('dataVencimento','ASC')"><i class="fa fa-sort-amount-down-alt"></i>
          </button>
          <button class="btn btn-link" *ngIf="boletoService.page.sortDirection=='ASC'"
                  (click)="boletoService.sortBy('dataVencimento','DESC')"><i class="fa fa-sort-amount-up"></i></button>
        </th>

        <!--<th>Número Iugu</th>-->

        <th>Situação
          <select [(ngModel)]="boletoService.filtro.situacao" class="form-control input-xs">
            <option [ngValue]="null"></option>
            <option *ngFor="let status of boletoService.statuses" [ngValue]="status">{{status.toString()}}</option>

          </select>
        </th>
        <th class="text-center">
          <button (click)="filtrar()" class="btn btn-sm btn-primary ml-1 mr-1">Filtrar</button>
        </th>
      </tr>
      </thead>

      <tbody *ngIf="boletoService.page.list?.length>0">
      <tr *ngFor="let boleto of boletoService.page.list" >
        <td>{{boleto.contrato?.cliente?.nome}}</td>
        <td class="text-center">{{boleto.nossoNumero}}</td>
        <td class="text-center">{{boleto.dataEmissao | date:'dd/MM/yy HH:mm' }}</td>
        <td class="text-center">{{boleto.dataPagamento | date:'dd/MM/yy HH:mm' }}</td>
        <td class="text-center">{{boleto.dataRegistroPagamento | date:'dd/MM/yy HH:mm' }}</td>
        <td>{{boleto.emissor?.nome}}</td>
        <td class="text-center">R${{boleto.valor | number: '0.2-2': 'pt_BR' }}</td>
        <td class="text-center">{{boleto.dataVencimento | date:'dd/MM/yy' }}</td>

        <td class="text-center">{{boleto.situacao}}</td>

        <td class="text-center ">

          <div class="inline">

          <button (click)="boletoService.goShow(boleto)" title="Mostrar" class="btn btn-xs btn-secondary btn-21"><i
            class="fa fa-search"></i></button>
          <button (click)="boletoService.goUpdate(boleto)" title="Atualizar" class="btn btn-xs btn-warning btn-21"><i
            class="fa fa-wrench"></i></button>
          <button (click)="showBoletoPdf(boleto,download)" title="Mostrar" class="btn btn-xs btn-primary btn-21"><i
            class="fa fa-file"></i></button>
          <button (click)="showNumeroIugu(boleto)" title="Mostrar" class="btn btn-xs btn-success btn-21"><i
            class="fa fa-info-circle"></i></button>

          </div>

        </td>

      </tr>
      </tbody>


      <tfoot>
      <tr>
        <th colspan="12">
          <div class="ui-toolbar">

            <select [(ngModel)]="boletoService.page.pageSize" class="input-xs mr-5" (change)="changePageSize()">
              <option value="10">10 linhas</option>
              <option value="20">20 linhas</option>
              <option value="30">30 linhas</option>
              <option value="40">40 linhas</option>
              <option value="50">50 linhas</option>
            </select>

            <pagination class="ml-5"
                        [totalItems]="boletoService.page.totalRecords"
                        [(ngModel)]="boletoService.page.pageIndex"
                        [boundaryLinks]="true"
                        (pageChanged)="pageChanged($event)"
                        [itemsPerPage]="boletoService.page.pageSize"
                        [maxSize]="10"
                        [rotate]="true"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
            >
            </pagination>

            <div class="ui-toolbar-group-right">
              Número de registros: {{boletoService.page.totalRecords}}
            </div>

          </div>
        </th>
      </tr>
      </tfoot>


    </table>
  </div>

  <div class="form-row">
    <div class="col-4">
      <button (click)="boletoService.goCreate()" class="btn btn-sm btn-primary">
        <li class=" fa fa-plus"></li>
        Criar Novo Boleto
      </button>&nbsp;
    </div>
    <div class="col-8">
    </div>
  </div>

  <a href="pdfSrc" download="fileName" #download></a>

</div>







