<div #gmap style="width:100%;height: 100% !important;"></div>


<ol class="breadcrumb-fixed" >
  <li class="breadcrumb-item">
    <button (click)="geraRelatorioUltimosSinais()" [disabled]="!lastLocations" class="btn btn-xs btn-primary mr-2">Ultimos Sinais<i class="fa fa-file-pdf ml-2"></i></button>
    <button (click)="geraRelatorioUltimosSinaisExcel()" [disabled]="!lastLocations" class="btn btn-xs btn-primary mr-2">Ultimos Sinais<i class="fa fa-file-excel ml-2"></i></button>
    <div *ngIf="cliente.nome.indexOf('WELLFIELD')!=-1" class="inline">
    <label class="ml-4 mr-2">Corte:</label>
    <input
      class="form-control input-xs mb-4"
      bsDatepicker
      [bsConfig]= "datepickerConfigService.setConfig(true)"
      [(ngModel)]="dataCorte"
      (ngModelChange)="atualizaMapaDaFrota()"

    >
    </div>

  </li>
</ol>
