.breadcrumb {
  margin-bottom: 0;
  z-index: 100;
  position: fixed;
  padding: 1px 5px;

  /* margin-right: 100px; */
}

.breadcrumb-fixed {
  margin-bottom: 0;
  margin-top: 10px;
  z-index: 100;
  position: absolute;
  padding: 3px 5px;
  /* margin-right: 100px; */
}

