<div class="breadcrumb mb-0">
  Relatórios da Frota
</div>

<div class="mycontainer mt-4 ">




  <div style="width: 900px" >
    <tabset [vertical]="false" [justified]="true" >

      <tab *ngIf="segurancaService.temPermissao('MENU_VIAGENS')" heading="Relatório de Viagens">
        <app-viagens></app-viagens>
      </tab>

      <tab *ngIf="segurancaService.temPermissao('MENU_VIAGENS')" heading="Viagens do Motorista">
        <app-motorista></app-motorista>
      </tab>

      <tab *ngIf="segurancaService.temPermissao('MENU_VIAGENS')" heading="Viagens do Veículo">
        <app-viagens-veiculo></app-viagens-veiculo>
      </tab>




      <tab *ngIf="segurancaService.temPermissao('MENU_VIAGENS')" heading="Viagens por Estado">
        <app-viagens-estado></app-viagens-estado>
      </tab>

      <tab *ngIf="segurancaService.temPermissao('RELATORIO_EXCESSO_VELOCIDADE')" heading="Excesso de Velocidade">
        <app-excesso-velocidade></app-excesso-velocidade>
      </tab>


      <tab *ngIf="segurancaService.temPermissao('RELATORIO_RESTRICAO_TRAFEGO')" heading="Restrição de Tráfego">
        <app-restricao-trafego></app-restricao-trafego>
      </tab>

      <tab *ngIf="segurancaService.temPermissao('RELATORIO_MOTORISTA_CNH')" heading="Vencimento de CNH">
        <app-motorista-cnh></app-motorista-cnh>
      </tab>


      <tab heading="Distância Percorrida">
        <app-distancia-diaria></app-distancia-diaria>
      </tab>



    </tabset>
  </div>


</div>
