<ion-content padding>



    <ion-grid style="height: 100% ;" padding>




        <ion-row justify-content-center align-items-center style="height:100%">



            <form #form="ngForm" (submit)="submitForm(form)">



                <ion-card>
                    <ion-card-header text-center><ion-card-subtitle><strong>Moveltrack Mobile 2.0</strong></ion-card-subtitle>
                    </ion-card-header>
                </ion-card>

                <ion-card>



                    <ion-card-header>

                        <ion-card-subtitle>Login</ion-card-subtitle>
                    </ion-card-header>

                    <ion-card-content>


                        <ion-item>
                            <ion-input placeholder="Usuário" [(ngModel)]="user.username" name="username"
                                       required></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-input placeholder="Senha" type="password" [(ngModel)]="user.password" name="password"
                                       required></ion-input>
                        </ion-item>

                        <div text-center margin-top>
                            <ion-button type="submit"> Entrar</ion-button>
                        </div>

                    </ion-card-content>
                </ion-card>

            </form>

        </ion-row>
    </ion-grid>



</ion-content>
