<div class="row form-group">

  <div class="col-sm-12">
    <label>Bateria</label>
    <span class="btn btn-xs btn-pill w-100px" [ngClass]="sinal.bateriaClass">{{sinal.bateria}}</span>
  </div>

</div>
<div class="row form-group">

  <div class="col-sm-12">
    <label>Voltagem</label>
    <span class="btn btn-xs btn-pill w-100px" [ngClass]="sinal.voltagemClass">{{sinal.voltagem}}</span>
  </div>

</div>
<div class="row form-group">


  <div class="col-sm-12">
    <label>Gsm</label>
    <span  class="btn btn-xs btn-pill w-100px" [ngClass]="sinal.gsmClass">{{sinal.gsm}}</span>
  </div>

</div>
<div class="row form-group">


<div class="col-sm-12">
      <label>Gps</label>
  <span  class="btn btn-xs btn-pill w-100px" [ngClass]="sinal.gpsClass">{{sinal.gps}}</span>
  </div>

</div>
<div class="row form-group">

  <div class="col-sm-12">
      <label>Satélites</label>
      <span  class="btn btn-xs btn-pill w-100px" [ngClass]="sinal.sateliteClass">{{sinal.satelites}}</span>
  </div>

</div>
<div class="row form-group">

  <div class="col-sm-12">
      <label>Bloqueio</label>
    <span  class="btn btn-xs btn-pill w-100px" [ngClass]="sinal.bloqueioClass">{{sinal.bloqueio}}</span>
  </div>

</div>
<div class="row form-group">
  <div class="col-sm-12">
      <label>Ignição</label>
    <span  class="btn btn-xs btn-pill w-100px" [ngClass]="sinal.ignicaoClass">{{sinal.ignicao}}</span>
  </div>

</div>
<div class="row form-group">

  <div class="col-sm-12">
      <label>Alarme</label>
    <span  class="btn btn-xs btn-pill w-100px" [ngClass]="sinal.alarmeClass">{{sinal.alarme}}</span>
  </div>

</div>
<div class="row form-group mb-3">

  <div class="col-sm-12">
      <label>Leitura</label>
    <span  class="btn btn-xs btn-pill w-100px btn-secondary" >{{sinal.leitura | date:"dd/MM HH:mm":"-3":"pt_BR"}}</span>
  </div>


</div>
