<ol class="breadcrumb bg-light">
  <li class="breadcrumb-item">
    Veículos
  </li>
</ol>
<div class="mycontainer">

  <div class="table-responsive">
    <table class="table table-bordered table-striped table-xs">

      <thead>
        <tr>
          <th>Nome<input [(ngModel)]="motoristaService.filtro.nome" class="form-control input input-xs" /></th>
          <th class="text-center">CNH</th>
          <th class="text-center">Validade CNH</th>
          <th class="text-center">CPF</th>
          <th class="text-center">Celular</th>
          <th class="text-center">Status
            <select [(ngModel)]="motoristaService.filtro.status" class="form-control input input-xs" >
              <option [ngValue]="null"></option>
              <option *ngFor="let status of statuses" [value]="status.value">{{status.label}}</option>
            </select>
          </th>
          <th class="text-center"><button (click)="filtrar()"  class="btn btn-primary btn-sm" >Filtrar</button></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let motorista of motoristaService.page.list">
          <td class="pl-2">{{motorista.nome}}</td>
          <td class="text-center">{{motorista.categoriaCnh}}</td>
          <td class="text-center">{{motorista.validadeCnh | date:'dd/MM/yyyy'}}</td>
          <td class="text-center">{{motorista.cpf}}</td>
          <td class="text-center">{{motorista.celular1}}</td>
          <td class="text-center">{{motorista.status}}</td>

          <td class="text-center">
            <button (click)="motoristaService.goShow(motorista)" title="Ver" class="btn btn-xs btn-secondary btn-21"><i class="fa fa-search"></i></button>
            <button (click)="motoristaService.goUpdate(motorista)" title="Atualizar" class="btn btn-xs btn-warning btn-21"><i class="fa fa-wrench"></i></button>
            <button (click)="despesaFrotaService.goCreate(null,null,motorista)" title="Adicionar Despesa" class="btn btn-xs btn-danger btn-21"><i class="fa fa-dollar-sign"></i></button>
            <!--<button (click)="despesaFrotaService.goDelete(motorista)" title="Mostrar" class="btn btn-xs btn-danger btn-21"><i class="fa fa-close"></i></button>-->
          </td>
        </tr>
      </tbody>

      <tfoot>
      <tr>
        <th colspan="12">
          <div class="ui-toolbar">

            <select [(ngModel)]="motoristaService.page.pageSize" class="input-xs mr-5" (change)="changePageSize()">
              <option value="10">10 linhas</option>
              <option value="20">20 linhas</option>
              <option value="30">30 linhas</option>
              <option value="40">40 linhas</option>
              <option value="50">50 linhas</option>
            </select>

            <pagination class="ml-5"
                        [totalItems]="motoristaService.page.totalRecords"
                        [(ngModel)]="motoristaService.page.pageIndex"
                        [boundaryLinks]="true"
                        (pageChanged)="pageChanged($event)"
                        [itemsPerPage]="motoristaService.page.pageSize"
                        [maxSize]="10"
                        [rotate]="true"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
            >
            </pagination>

            <div class="ui-toolbar-group-right">
              Número de registros: {{motoristaService.page.totalRecords}}
            </div>

          </div>
        </th>
      </tr>
      </tfoot>

    </table>
  </div>

  <div class="form-row">
    <div class="col-4">
      <button  (click)="motoristaService.goCreate()" class="btn btn-sm btn-primary">
        <li class=" fa fa-plus"></li>
        Cadastrar Novo Motorista
      </button>&nbsp;
    </div>
    <div class="col-8">
    </div>
  </div>

</div>







