<div class="form-row mb-4">
  <div class="col-12 text-center">
    <label>Relatório de Expiração de CNH</label>
  </div>
</div>

<div class="form-row mb-4">

  <div class="col-12 text-center">
    <div class=" inline ">
    <label style="margin-top: 4px;">CNH's que irão expirar antes de</label>
    <input
      class="form-control input-sm w-100px ml-2"
      bsDatepicker
      [bsConfig]= "datepickerConfigService.setConfig(false)"
      [(ngModel)]="limite"
    >
    </div>
  </div>



</div>



<div class="form-row">
  <div class="col-12 text-center">
    <button (click)="relatorioExpiracaoCnh('pdf')" class="btn btn-primary btn-sm w-100px mr-2">Pdf<i class="fa fa-file-pdf ml-2"></i></button>
    <button (click)="relatorioExpiracaoCnh('excel')" class="btn btn-primary btn-sm w-100px">Excel<i class="fa fa-file-pdf ml-2"></i></button>
  </div>
</div>
