<ol class="breadcrumb bg-light">
  <li class="breadcrumb-item">
    Rastreadores
  </li>
</ol>
<div class="mycontainer">
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-xs">
      <thead>
        <tr>
          <th>Imei
            <input [(ngModel)]="equipamentoService.filtro.imei" class="form-control input input-xs"/>
          </th>
          <th>Chip - ICCID
            <ng-select class="input-xs w-100" style="min-width: 180px !important;"
                       bindLabel="iccid"
                       notFoundText="não encontrado"
                       [multiple]="false"
                       [items]="searchService.chipsIccidResult"
                       (search)="searchService.searchChipsIccid($event.term)"
                       [(ngModel)]="equipamentoService.filtro.chip.iccid"
            >
            </ng-select>
          </th>


          <th>Chip Número
            <input [(ngModel)]="equipamentoService.filtro.chip.numero" class="form-control input input-xs"/>
          </th>

          <th>Possuidor
            <ng-select class="input-xs w-100"
                       bindLabel="nome"
                       notFoundText="não encontrado"
                       [multiple]="false"
                       [items]="searchService.empregadosResult"
                       (search)="searchService.searchEmpregados($event.term)"
                       [(ngModel)]="equipamentoService.filtro.possuidor"
            >
            </ng-select>
          </th>
          <th class="text-center">Veículo</th>
          <th>Modelo
            <select [(ngModel)]="equipamentoService.filtro.modelo" class="form-control input input-xs">
              <option [ngValue]="null"></option>
              <option *ngFor="let option of equipamentoService.modelosRastreador" [value]="option.valor">{{option.descricao}}</option>
            </select>
          </th>
          <th>Status
            <select [(ngModel)]="equipamentoService.filtro.situacao" class="form-control input input-xs">
              <option [ngValue]="null"></option>
              <option *ngFor="let status of equipamentoService.equipamentosSituacao" [value]="status.valor">{{status.descricao}}</option>
            </select>
          </th>
          <th class="text-center"><button (click)="filtrar()" class="btn btn-primary btn-sm ml-3 mr-3">Filtrar</button></th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let equipamento of equipamentoService.page.list">
          <td class="text-center">{{equipamento.imei}}</td>
          <td class="text-center">{{equipamento.chip?.label}}</td>
          <td class="text-center">{{equipamento.chip?.numero}}</td>
          <td class="text-center">{{equipamento.possuidor?.nome}}</td>
          <td class="text-center">{{equipamento.veiculo?.placa}}-{{equipamento.veiculo?.contrato?.cliente?.nome}}</td>
          <td class="text-center">{{equipamento.modelo}}</td>
          <td class="text-center">{{equipamento.situacao}}</td>


          <td class="text-center">
            <button (click)="equipamentoService.goShow(equipamento)" title="Ver" class="btn btn-xs btn-secondary btn-21"><i class="fa fa-search"></i></button>
            <button (click)="equipamentoService.goUpdate(equipamento)" title="Atualizar" class="btn btn-xs btn-warning btn-21"><i class="fa fa-wrench"></i></button>
          </td>
        </tr>
      </tbody>

      <tfoot>
      <tr>
        <th colspan="12">
          <div class="ui-toolbar">

            <select [(ngModel)]="equipamentoService.page.pageSize" class="input-xs mr-5" (change)="changePageSize()">
              <option value="10">10 linhas</option>
              <option value="20">20 linhas</option>
              <option value="30">30 linhas</option>
              <option value="40">40 linhas</option>
              <option value="50">50 linhas</option>
            </select>

            <pagination class="ml-5"
                        [totalItems]="equipamentoService.page.totalRecords"
                        [(ngModel)]="equipamentoService.page.pageIndex"
                        [boundaryLinks]="true"
                        (pageChanged)="pageChanged($event)"
                        [itemsPerPage]="equipamentoService.page.pageSize"
                        [maxSize]="10"
                        [rotate]="true"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
            >
            </pagination>

            <div class="ui-toolbar-group-right">
              Número de registros: {{equipamentoService.page.totalRecords}}
            </div>

          </div>
        </th>
      </tr>
      </tfoot>

    </table>

    <!--<a [href]="pdfSrc" [download]="fileName" #download ></a>-->


    <br>

    <button *ngIf="segurancaService.temPermissao('VEICULO_INSERIR')" (click)="equipamentoService.goCreate()"  class="btn btn-primary btn-sm">
      <i class="fa fa-plus-circle mr-1"></i>Cadastrar Novo Equipamento
    </button>&nbsp;


    <ng-template #loading>
      <div>Loading...</div>
    </ng-template>
  </div>
</div>








