<div class="form-row" style="height: 100%" >

  <div class="col-5">


  <div class="form-row m-1 mt-2 mb-2">
    <div class="col-7">
      <label *ngIf="rota.id" >Rota {{rota.id | padStart: 5:"0"}} - Distância {{rota.distancia | number:'1.3-3':'pt-BR'}}km</label>
      <label *ngIf="!rota.id" >Edite a nova rota!</label>
    </div>

    <div class="col-5 text-right">
      <button (click)="criarNovaRota()" *ngIf="rota.id" class="btn btn-primary btn-xs" >Criar Nova</button>
    </div>
  </div>

    <hr>

    <div class="form-row m-1 mt-3 mb-3">

      <div class="col">

        <label>Cidade de Origem</label>

        <ng-select class="input-xs w-100"
                   bindLabel="label"
                   notFoundText="não encontrado"
                   [multiple]="false"
                   [items]="searchService.municipiosResult"
                   (search)="searchService.searchMunicipios($event.term)"
                   (change)="changeOrigem()"
                   [(ngModel)]="rota.origem">
        </ng-select>

      </div>

    </div>

    <div class="form-row m-1 mb-3">



      <div class="col">

        <div class="form-row mb-1">
          <div class="col-3">
            <label>Intinerário</label>
          </div>
          <div class="col-7">

            <ng-select class="input-xs w-100 d-inline"
                       bindLabel="label"
                       notFoundText="não encontrado"
                       [multiple]="false"
                       [items]="searchService.municipiosResult"
                       (search)="searchService.searchMunicipios($event.term)"
                       [(ngModel)]="municipioNovo">
            </ng-select>

          </div>
          <div class="col-2 text-right">
            <button (click)="addMunicipio()" [disabled]="!municipioNovo" class="btn btn-primary btn-xs w-25px"><i class="fa fa-plus"></i></button>
            <button (click)="deletaMunicipio()" [disabled]="caminhoSelecionado==null || caminhoSelecionado.length<=0" class="btn btn-primary btn-xs w-25px"><i class="fas fa-minus"></i></button>
          </div>

        </div>



        <div class="form-row">
          <div class="col">
            <select [(ngModel)]="caminhoSelecionado" [size]="8"  multiple class="form-control input-sm" maxlength="10">
              <option [ngValue]="municipio" *ngFor="let municipio of rota.itinerario">{{municipio.label}}</option>
            </select>
          </div>
        </div>



      </div>



    </div>

    <div class="form-row m-1 mb-3">

      <div class="col">
        <label>Cidade de Destino</label>


        <ng-select class="input-xs w-100"
                   bindLabel="label"
                   notFoundText="não encontrado"
                   [multiple]="false"
                   [items]="searchService.municipiosResult"
                   (search)="searchService.searchMunicipios($event.term)"
                   (change)="changeDestino()"
                   [(ngModel)]="rota.destino">
        </ng-select>



      </div>

    </div>

    <div class="form-row m-1 mb-3">


    <div class="col">
        <button (click)="plotarRota()" [disabled]="directionsMapDirective.status=='OK'" class="btn btn-primary btn-sm mr-2">Mostrar Mapa da Rota</button>
        <button (click)="salvaRota()" [disabled]="directionsMapDirective.status!='OK'" class="btn btn-primary btn-sm">Salva Dados da Rota</button>
      </div>


    </div>

    <div class="form-row m-2">
      <app-rotas-listar (emitter)="updateRota($event)" ></app-rotas-listar>
    </div>


  </div>

  <div class="col-7">

    <agm-map

      appDirectionsMap

      [showDirection]="this.displayDirections"
      [origem]="rota.origem"
      [destino]="rota.destino"
      [itinerario]="rota.itinerario"

      [latitude]="mapaObject.centro.latitude"
      [longitude]="mapaObject.centro.longitude"
      [zoom]="mapaObject.zoom"
      [fullscreenControl]='true'
      [mapTypeId]="mapTypeId"



    >

      <agm-marker [title]="rota.origem.descricao"
                  label="A"
                  iconUrl="assets/icon/bullet-green-sm.png"
                  *ngIf="rota.origem"
                  [latitude]="rota.origem.latitude"
                  [longitude]="rota.origem.longitude">
        <agm-info-window>{{rota.origem.label}}</agm-info-window>

      </agm-marker>

      <agm-marker [title]="rota.destino.descricao"
                  label="B"
                  iconUrl="assets/icon/bullet-yellow-sm.png"
                  *ngIf="rota.destino"
                  [latitude]="rota.destino.latitude"
                  [longitude]="rota.destino.longitude">
        <agm-info-window>{{rota.destino.label}}</agm-info-window>
      </agm-marker>


      <agm-marker iconUrl="assets/icon/bullet-blue-sm.png"
                  *ngFor="let city of rota.itinerario "
                  [title]="city.descricao"
                  [latitude]="city.latitude"
                  [longitude]="city.longitude">
        <agm-info-window>{{city.label}}</agm-info-window>
      </agm-marker>


      <!--<agm-polyline>
        <agm-polyline-point *ngFor="let loc of locations"
                            [latitude]="loc.latitude"
                            [longitude]="loc.longitude">
        </agm-polyline-point>
      </agm-polyline>

      </agm-marker>
      -->

    </agm-map>

  </div>


</div>




