<ol class="breadcrumb bg-light">
  <li class="breadcrumb-item ">
    Cadastrar Lançamento
  </li>
</ol>
<!--
formGroup = this.fb.group({
dataDoServico: [,Obrigatorio],
cliente:[,Obrigatorio],
v:[,Obrigatorio],
observacao:[,Obrigatorio],

operador:[,Obrigatorio],
servico:[,Obrigatorio],
valorDoServico:[,Obrigatorio],
status:[,Obrigatorio]

});-->


<div class="mycontainer">

  <div class="card mt-4">
    <!--  <div class="card-header">
        Dados do Cliente
      </div>-->
    <div class="card-body">
      <form [formGroup]="formGroup" (ngSubmit)="submitForm()">


        <div class="row form-group">

          <div class="col-sm-4">
            <label>Tipo de Lançamento</label>
            <app-info-button [control]="formGroup.controls.operacao"></app-info-button>
            <select formControlName="operacao" class="form-control input-sm" (change)="setLabels($event)">
              <option [ngValue]="null">&nbsp;</option>
              <option *ngFor="let obj of lancamentoService.operacoes" [value]="obj">{{obj}}</option>
            </select>
          </div>


          <div class="col-sm-4">
            <label>{{solicitanteLabel}}</label>
            <app-info-button [control]="formGroup.controls.solicitante"></app-info-button>
            <ng-select class="input-sm w-100"
                       bindLabel="nome"
                       notFoundText="não encontrado"
                       [multiple]="false"
                       [items]="searchServices.empregadosResult"
                       (search)="searchServices.searchEmpregados($event.term)"
                       formControlName="solicitante">
            </ng-select>
          </div>

          <div class="col-sm-4">

            <label>Data da Execução</label>
            <app-info-button [control]="formGroup.controls.data"></app-info-button>
            <input [disabled]="true"
                   class="form-control input-sm"
                   bsDatepicker
                   [bsConfig]= "bsConfig"
                   formControlName="data"
            >
          </div>

        </div>

        <div class="row form-group">

          <div class="col-sm-4">
            <label>Valor</label>
            <app-info-button [control]="formGroup.controls.valor"></app-info-button>
            <input formControlName="valor"  class="form-control input-sm" type="text" currencyMask   />
          </div>

          <div class="col-sm-4">
            <label>{{operadorLabel}}</label>
            <app-info-button [control]="formGroup.controls.operador"></app-info-button>
            <ng-select class="input-sm w-100"
                       bindLabel="nome"
                       notFoundText="não encontrado"
                       [multiple]="false"
                       [items]="searchServices.empregadosResult"
                       (search)="searchServices.searchEmpregados($event.term)"
                       formControlName="operador">
            </ng-select>
          </div>

          <div class="col-sm-4">
            <label>Forma de Recebimento</label>
            <app-info-button [control]="formGroup.controls.formaPagamento"></app-info-button>
            <select formControlName="formaPagamento" class="form-control input-sm">
              <option [ngValue]="null">&nbsp;</option>
              <option *ngFor="let obj of lancamentoService.formasPagamento" [value]="obj">{{obj}}</option>
            </select>
          </div>

        </div>

        <div class="row form-group">

          <div class="col-sm-3">
            <label>Status do Lancamento</label>
            <app-info-button [control]="formGroup.controls.status"></app-info-button>
            <select formControlName="status" class="form-control input-sm">
              <option [ngValue]="null">&nbsp;</option>
              <option *ngFor="let obj of lancamentoService.statuses" [value]="obj">{{obj}}</option>
            </select>
          </div>

          <div class="col-sm-6">
            <label>Descrição</label>
            <app-info-button [control]="formGroup.controls.observacao"></app-info-button>
            <input formControlName="observacao"  class="form-control input-sm" type="text" />
          </div>


          <div class="col-sm-3">
            <label>Ordem de Serviço</label>
            <ng-select class="input-sm w-100"  disabled
                       bindLabel="numero"
                       notFoundText="não encontrado"
                       [multiple]="false"
                       formControlName="ordemDeServico">
            </ng-select>
          </div>


        </div>


        <div class="row form-group">

          <div class="col-sm-3">
            <label>Recebimento Relacionado c/ Baixa de Boleto?</label>
            <select formControlName="houveBaixa" class="form-control input-sm">
              <option [ngValue]="null">&nbsp;</option>
              <option *ngFor="let obj of lancamentoService.houveBaixas" [value]="obj">{{obj}}</option>
            </select>
          </div>
        </div>


        <div class="row mt-3">
          <div class="col-lg-5">
            <button (click)="lancamentoService.goList()" class="btn btn-sm btn-primary mr-3">Voltar</button>
            <button type="submit" *ngIf="lancamentoService.operacao!='SHOW'" class="btn btn-sm btn-primary ">Salvar</button>
          </div>
          <div class="col-lg-7">
          </div>
        </div>



      </form>
    </div>
  </div>



</div>


