<nav class="app-header navbar navbar-expand-lg">

  <a class="navbar-brand" href="#">
    <img src="assets/images/moveltrack/logo_branco_166_43.png" width="89" height="25" alt="">
  </a>

  <button class="navbar-toggler" type="button"
          data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
<!--
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li> -->
      <li class="nav-item">&nbsp;</li>
    </ul>

    <div class="form-inline my-2 my-lg-0 ml-2">
      <button (click)="goLogin()" class="btn btn-danger" >ACESSO AO SISTEMA</button>
    </div>
  </div>
</nav>


<div class="app-body" style="height: 100% !important; min-height: 80vh">
  <div class=" mx-auto justify-content-center align-items-center flex-column">
      <p-galleria [images]="images" class="app-body" panelWidth="1000" panelHeight="500" autoPlay="false" [effectDuration]="2000" [showCaption]="true"></p-galleria>
  </div>
</div>


<app-footer [fixed]="true">
  <span class="ml-auto">versão
    <a >2.0.0</a>
  </span>
</app-footer>
