<ol class="breadcrumb bg-light">
  <li class="breadcrumb-item">
    Veículos
  </li>
</ol>
<div class="mycontainer">
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-xs">
      <thead>
        <tr>
          <th *ngIf="segurancaService.temPermissao('VEICULO_VER_TODOS')" class="w-min-150" >Cliente

           <ng-select [items]="searchService.contratosResult" class="input-xs w-100"
                       bindLabel="label"
                       notFoundText="não encontrado"
                       [multiple]="false"
                       (search)="searchService.searchContratos($event.term)"
                       [(ngModel)]="veiculoService.filtro.contrato">
            </ng-select>



          </th>
          <th>Placa
            <input [(ngModel)]="veiculoService.filtro.placa" class="form-control input input-xs"/>
          </th>
          <th>Marca/Modelo
            <input [(ngModel)]="veiculoService.filtro.marcaModelo" class="form-control input input-xs"/>
          </th>
          <th class="text-center">Cor</th>
          <th>Tipo
            <select [(ngModel)]="veiculoService.filtro.tipo" class="form-control input input-xs">
              <option [ngValue]="null"></option>
              <option *ngFor="let tipo of tipos" [value]="tipo.value">{{tipo.label}}</option>
            </select>
          </th>
          <th>Status
            <select [(ngModel)]="veiculoService.filtro.status" [disabled]="segurancaService.isCliente()" class="form-control input input-xs">
              <option [ngValue]="null"></option>
              <option *ngFor="let status of statuses" [value]="status.value">{{status.label}}</option>
            </select>
          </th>
          <th class="text-center">Data Instalaçao</th>


          <th *ngIf="segurancaService.temPermissao('VEICULO_VER_TODOS')" class="w-min-150" >Rastreador

            <ng-select [items]="searchService.imeisResult" class="input-xs w-100"
                        notFoundText="não encontrado"
                       [multiple]="false"
                       (search)="searchService.searchImeis($event.term)"
                       [(ngModel)]="veiculoService.filtro.equipamento.imei">
            </ng-select>


          </th>

          <th *ngIf="segurancaService.temPermissao('VEICULO_VER_TODOS')">Modelo
            <select [(ngModel)]="veiculoService.filtro.equipamento.modelo"  class="form-control input input-xs">
              <option [ngValue]="null"></option>
              <option *ngFor="let option of equipamentoService.modelosRastreador" [value]="option.valor">{{option.descricao}}</option>
            </select>
          </th>

          <th *ngIf="segurancaService.temPermissao('VEICULO_VER_TODOS')">AtrasoGmt
            <select [(ngModel)]="veiculoService.filtro.equipamento.atrasoGmt"  class="form-control input input-xs">
              <option [value]="100"></option>
              <option [value]="0">Outro</option>
              <option [value]="-1">-1</option>
            </select>
          </th>

          <th class="text-center"><button (click)="filtrar()" class="btn btn-primary btn-sm ml-3 mr-3">Filtrar</button></th>

        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let veiculo of veiculoService.page.list">
          <td *ngIf="segurancaService.temPermissao('VEICULO_VER_TODOS')" >{{veiculo.contrato.cliente.nome}}</td>

          <td class="text-center">

            <button *ngIf="veiculo.status=='ATIVO'" (click)="mapDataService.goMapaFromVeiculo(veiculo)" title="Rastrear Veículo" class="btn btn-xs btn-danger w-100px">
              <i class="fa fa-map-marker-alt"></i>
              {{veiculo.placa}}
            </button>

            <button *ngIf="veiculo.status=='INATIVO'" class="btn btn-xs btn-secondary w-100px" disabled>
              <i class="fa fa-map-marker-alt"></i>
              {{veiculo.placa}}
            </button>




          </td>
          <td class="text-center">{{veiculo.marcaModelo}}</td>
          <td class="text-center">{{veiculo.cor}}</td>
          <td class="text-center">{{veiculo.tipo}}</td>
          <td class="text-center">{{veiculo.status}}</td>
          <td class="text-center">{{veiculo.dataInstalacao | date:'dd/MM/yy HH:mm'}}</td>
          <td *ngIf="segurancaService.temPermissao('VEICULO_VER_TODOS')"  class="text-center">{{veiculo?.equipamento?.imei}}</td>
          <td *ngIf="segurancaService.temPermissao('VEICULO_VER_TODOS')"  class="text-center">{{veiculo?.equipamento?.modelo}}</td>
          <td *ngIf="segurancaService.temPermissao('VEICULO_VER_TODOS')"  class="text-center">{{veiculo?.equipamento?.atrasoGmt}}</td>
          <td class="text-center">
            <button (click)="veiculoService.goShow(veiculo)" title="Ver" class="btn btn-xs btn-secondary btn-21"><i class="fa fa-search"></i></button>
            <button *ngIf="segurancaService.temPermissao('VEICULO_ATUALIZAR')" (click)="veiculoService.goUpdate(veiculo)" title="Atualizar" class="btn btn-xs btn-warning btn-21"><i class="fa fa-wrench"></i></button>
            <button *ngIf="segurancaService.temPermissao('MENU_VIAGENS')" (click)="despesaFrotaService.goCreate(null,veiculo,null)" title="Adicionar Despesa" class="btn btn-xs btn-danger btn-21"><i class="fa fa-dollar-sign"></i></button>
          </td>

        </tr>
      </tbody>


      <tfoot>
      <tr>
        <th colspan="12">
          <div class="ui-toolbar">

            <select [(ngModel)]="veiculoService.page.pageSize" class="input-xs mr-5" (change)="changePageSize()">
              <option value="10">10 linhas</option>
              <option value="20">20 linhas</option>
              <option value="30">30 linhas</option>
              <option value="40">40 linhas</option>
              <option value="50">50 linhas</option>
            </select>

            <pagination class="ml-5"
                        [totalItems]="veiculoService.page.totalRecords"
                        [(ngModel)]="veiculoService.page.pageIndex"
                        [boundaryLinks]="true"
                        (pageChanged)="pageChanged($event)"
                        [itemsPerPage]="veiculoService.page.pageSize"
                        [maxSize]="10"
                        [rotate]="true"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
            >
            </pagination>

            <div class="ui-toolbar-group-right">
              Número de registros: {{veiculoService.page.totalRecords}}
            </div>

          </div>
        </th>
      </tr>
      </tfoot>




    </table>
  </div>


  <div class="form-row">
    <div class="col-4">
      <button *ngIf="segurancaService.temPermissao('VEICULO_INSERIR')" (click)="veiculoService.goCreate()" class="btn btn-sm btn-primary">
        <li class=" fa fa-plus"></li>
        Cadastrar Novo Veículo
      </button>&nbsp;
    </div>
    <div class="col-8">
    </div>
  </div>



</div>








