<ol class="breadcrumb bg-light">
  <li class="breadcrumb-item">
     <label>{{formGroup.controls.id.value? 'Atualizar Viagem '+formGroup.controls.id.value :'Cadastrar Nova Viagem'}}</label>
  </li>
</ol>
<div class="mycontainer">


  <div class="card mt-4">
    <div class="card-body">

      <form [formGroup]="formGroup" (ngSubmit)="submitForm()">

        <div class="row">

          <div class="col-sm-3">
            <div class="form-group">
              <label>Cidade de Origem</label>
              <app-info-button [control]="formGroup.controls.cidadeOrigem"></app-info-button>

              <ng-select class="input-sm w-100"
                         bindLabel="label"
                         notFoundText="não encontrado"
                         [multiple]="false"
                         [items]="searchService.municipiosResult"
                         (search)="searchService.searchMunicipios($event.term)"
                         formControlName="cidadeOrigem">
              </ng-select>




            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label>Cidade de Destino</label>
              <app-info-button [control]="formGroup.controls.cidadeDestino"></app-info-button>

              <ng-select class="input-sm w-100"
                         bindLabel="label"
                         notFoundText="não encontrado"
                         [multiple]="false"
                         [items]="searchService.municipiosResult"
                         (search)="searchService.searchMunicipios($event.term)"
                         (select)="selecionaRotas()"
                         formControlName="cidadeDestino">
              </ng-select>

            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label>Veículo</label>
              <app-info-button [control]="formGroup.controls.veiculo"></app-info-button>

                <ng-select class="input-sm w-100"
                           bindLabel="placa"
                           notFoundText="não encontrado"
                           [multiple]="false"
                           [items]="searchService.veiculosResult"
                           (search)="searchService.searchVeiculos($event.term)"
                           formControlName="veiculo">
                </ng-select>

            </div>

          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label>Motorista</label>
              <app-info-button [control]="formGroup.controls.motorista"></app-info-button>

              <ng-select class="input-sm w-100"
                         bindLabel="nome"
                         notFoundText="não encontrado"
                         [multiple]="false"
                         [items]="searchService.motoristasResult"
                         (search)="searchService.searchMotoristas($event.term)"
                         formControlName="motorista">
              </ng-select>





            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-sm-3">
            <div class="form-group">
              <label>Data/Hora da Partida</label>
              <app-info-button [control]="formGroup.controls.partida"></app-info-button>

              <input
                class="form-control input-sm"
                bsDatepicker
                [bsConfig]="bsConfig"
                formControlName="partida"
              >


            </div>
          </div>


          <div class="col-sm-3">
            <div class="form-group">
              <label>Chegada Prevista</label>
              <app-info-button [control]="formGroup.controls.chegadaPrevista"></app-info-button>

              <input
                class="form-control input-sm "
                bsDatepicker
                [bsConfig]="bsConfig"
                formControlName="chegadaPrevista"
              >


            </div>
          </div>


          <div class="col-sm-3">
            <div class="form-group">
              <label>Chegada Real</label>
              <app-info-button [control]="formGroup.controls.chegadaReal"></app-info-button>

              <input
                class="form-control input-sm "
                bsDatepicker
                [bsConfig]="bsConfig"
                formControlName="chegadaReal"
              >

            </div>
          </div>


          <div class="col-sm-3">
            <div class="form-group">
              <label>Status</label>
              <app-info-button [control]="formGroup.controls.status"></app-info-button>
              <select formControlName="status" class="form-control input-sm">
                <option [ngValue]="null">&nbsp;</option>
                <option *ngFor="let status of viagemService.viagemStatusOptions"
                        [ngValue]="status.value">{{status.label}}</option>
              </select>
            </div>
          </div>
        </div>


        <div class="row">

          <div class="col-sm-3">
            <div class="form-group">
              <label>Quantidade de Cidades</label>
              <app-info-button [control]="formGroup.controls.qtdCidades"></app-info-button>
              <input type="number" formControlName="qtdCidades" class="form-control input-sm">
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label>Quantidade de Clientes</label>
              <app-info-button [control]="formGroup.controls.qtdClientes"></app-info-button>
              <input type="number" formControlName="qtdClientes" class="form-control input-sm">
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label>Valor da Carga</label>
              <app-info-button [control]="formGroup.controls.valorDaCarga"></app-info-button>
              <input formControlName="valorDaCarga" currencyMask class="form-control input-sm"/>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label>Descrição da Carga</label>
              <app-info-button [control]="formGroup.controls.descricao"></app-info-button>
              <input formControlName="descricao" class="form-control input-sm">
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-sm-3">
            <div class="form-group">
              <label>Peso da Carga (kg)</label>
              <!--<app-info-button [control]="formGroup.controls.pesoDaCarga"></app-info-button>-->
              <input formControlName="pesoDaCarga" class="form-control input-sm" type="number" />
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label>Distância pelo Rastreador (km)</label>
              <app-info-button [control]="formGroup.controls.distanciaPercorrida"></app-info-button>
              <input formControlName="distanciaPercorrida" class="form-control input-sm" currencyMask
                     [options]="{ prefix: '', precision: 3}"/>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label>Distância pelo Hodrômetro (km)</label>
              <app-info-button [control]="formGroup.controls.distanciaHodometro"></app-info-button>
              <input formControlName="distanciaHodometro" class="form-control input-sm" currencyMask
                     [options]="{ prefix: '', precision: 3}"/>
            </div>
          </div>


          <div class="col-sm-3">
            <div class="form-group">
              <label>Valor de Devolução</label>
              <app-info-button [control]="formGroup.controls.valorDevolucao"></app-info-button>
              <input formControlName="valorDevolucao" class="form-control input-sm" currencyMask/>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-sm-9">
            <div class="form-group">
              <label>Rotas</label>
              <app-info-button [control]="formGroup.controls.rota"></app-info-button>
              <p-dropdown [options]="rotas" optionLabel="label" dataKey="id" formControlName="rota"
                          inputStyleClass="form-control input-sm p-0"
                          [style]="{width:'100%'}">
              </p-dropdown>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-lg-5">
            <button (click)="viagemService.goList()" class="btn btn-primary btn-sm mr-3">Voltar</button>
            <button *ngIf="viagemService.operacao!='SHOW'" type="submit" class="btn btn-primary btn-sm">Salvar</button>
          </div>
          <div class="col-lg-7">
          </div>
        </div>

      </form>
    </div>
  </div>

</div>
