#map_canvas{
  height: 100%;
}

ion-toolbar, ion-item, ion-list, ion-list-header, ion-progress-bar, ion-header, app-root{
  --background: #e9e5dd ;
}


@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}
