<ion-header>
<ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-item >
        <ion-icon  name="calendar"></ion-icon>

        <ion-input  [(ngModel)]="dataService.data"
                    [liIonic4Datepicker]="datePickerObj"
                    (ionChange)="mapaService.startRastreamento()"

        >
        </ion-input>

        <ion-label *ngIf="mapaService.ultimoSinal" color="danger" [ngClass]="dataService.rastreioAutomatico && !mapaService.isHistorico() ?'blink':''" slot="end">{{mapaService.ultimoSinal | date:"HH:mm\'h'":'pt-BR'}}</ion-label>

    </ion-item>



    <ion-item (click)="presentConfigsPopover($event)" slot="end">
        <ion-icon  name="more"></ion-icon>
    </ion-item>


</ion-toolbar>
</ion-header>

<ion-progress-bar color="primary" *ngIf="mapaService.showProgressBar"  type="indeterminate"></ion-progress-bar>

<ion-content>

    <ion-fab (click)="mapaService.startRastreamento()" vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button><ion-icon name="refresh"></ion-icon></ion-fab-button>
    </ion-fab>

    <div id="map_canvas" ></div>

</ion-content>

<ion-footer>

    <ion-toolbar>

        <ion-item *ngIf="dataService.veiculo?.comBloqueio" (click)="presentCortaCorrenteActionSheet()" slot="start">
            <ion-icon  name="flash"></ion-icon>
        </ion-item>

        <ion-item>
            <!--<ion-icon name="car" margin-end></ion-icon>-->
            <ion-avatar slot="start">
                <img src="assets/icon/{{getIcon()}}" alt="">
            </ion-avatar>

            <ion-label>
                <h2><strong>{{dataService.veiculo?.placa}}</strong></h2>
                <h3 *ngIf="dataService.veiculo" style="color: blue;" >{{dataService.veiculo?.marcaModelo}} - {{dataService.veiculo?.cor}}</h3>
            </ion-label>
        </ion-item>



    </ion-toolbar>

</ion-footer>
