<ol class="breadcrumb bg-light">
  <li class="breadcrumb-item ">
    Troca de Senha
  </li>
</ol>

<div class="mycontainer">


  <div class="card w-50">
    <div class="card-header">
      <label>Nome: {{segurancaService.pessoa.nome}}</label>
    </div>
    <div class="card-body">


      <div class="row form-group">
        <div class="col-12">
          <label>Nova Senha</label>
          <input type="password" [(ngModel)]="senha" class="input-sm form-control">
        </div>
      </div>
      <div class="row form-group">

        <div class="col-12">
          <label>Confirma Nova Senha</label>
          <input type="password" [(ngModel)]="confirmaSenha" class="form-control input-sm">
        </div>

      </div>

      <div class="row mt-3">
        <div class="col-sm-3">
        <button class="btn btn-primary btn-sm" (click)="submit()">Salvar</button>
        </div>
      </div>

    </div>
  </div>
</div>



