<ol class="breadcrumb bg-light">
  <li class="breadcrumb-item">
      Últimas Viagens
  </li>
</ol>
<div class="ml-4 mr-4">

      <div class="table-responsive">
        <table class="table table-bordered table-striped table-xs">
          <thead>
          <tr>
            <th class="w-100px">Numero
              <input [(ngModel)]="viagemService.filtro.numeroViagem" class="form-control input input-xs"/>
            </th>
            <th class="w-100px">Veiculo

              <ng-select class="input-xs w-100"
                         bindLabel="placa"
                         notFoundText="não encontrado"
                         [multiple]="false"
                         [items]="searchService.veiculosResult"
                         (search)="searchService.searchVeiculos($event.term)"
                         [(ngModel)]="viagemService.filtro.veiculo">
              </ng-select>

            </th >
            <th>Destino

              <ng-select class="input-xs w-100"
                         bindLabel="label"
                         notFoundText="não encontrado"
                         [multiple]="false"
                         [items]="searchService.municipiosResult"
                         (search)="searchService.searchMunicipios($event.term)"
                         [(ngModel)]="viagemService.filtro.cidadeDestino">
              </ng-select>


            </th>
            <th>Data Partida</th>
            <th>Chegada Prev.</th>
            <th>Chegada Real</th>
            <th>Dist. Rastreador</th>
            <th>Dist. Hodômetro</th>
            <th>Motorista
              <ng-select class="input-xs w-100"
                         bindLabel="nome"
                         notFoundText="não encontrado"
                         [multiple]="false"
                         [items]="searchService.motoristasResult"
                         (search)="searchService.searchMotoristas($event.term)"
                         [(ngModel)]="viagemService.filtro.motorista">
              </ng-select>
            </th>
            <th>Status
              <select [(ngModel)]="viagemService.filtro.status" class="form-control input input-xs">
                <option [ngValue]="null"></option>
                <option *ngFor="let status of viagemService.viagemStatusOptions"
                        [value]="status.value">{{status.label}}</option>
              </select>
            </th>
            <th class="text-center">
              <button type="button" (click)="filtrar()" class="btn btn-primary btn-sm ml-4 mr-4">Filtrar</button>
            </th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let viagem of viagemService.page.list">
            <td class="text-center">
              <button (click)="mapDataService.goMapaFromViagem(viagem)" title="Adicionar Despesa"
                      class="btn btn-xs btn-danger btn-21">
                <i class="fa fa-map-marker-alt"></i>
                {{viagem.numeroViagem | padStart:'5':'0'}}
              </button>
            </td>
            <td class="text-center">{{viagem.veiculo.placa}}</td>
            <td class="w-20">{{viagem.cidadeDestino.descricao}}-{{viagem.cidadeDestino.uf.sigla}}</td>
            <td class="w-100px">{{viagem.partida | date:'dd/MM/yy HH:mm' }}</td>
            <td
              class="{{viagemAtrasada(viagem)?'text-danger':''}} w-100px">{{viagem.chegadaPrevista | date:'dd/MM/yy HH:mm' }}</td>
            <td
              class="{{viagemAtrasada(viagem)?'text-danger':''}} w-100px">{{viagem.chegadaReal | date:'dd/MM/yy HH:mm' }}</td>
            <td class="text-center">{{viagem.distanciaPercorrida | number: '1.3-3':'pt_BR'}}</td>
            <td class="text-center">{{viagem.distanciaHodometro | number: '1.3-3':'pt_BR'}}</td>
            <td class="w-20">{{viagem.motorista.nome}}</td>
            <td class="text-center">{{viagem.status}}</td>

            <td class="text-center">
              <button (click)="viagemService.goShow(viagem)" title="Ver" class="btn btn-xs btn-secondary btn-21"><i
                class="fa fa-search"></i></button>
              <button (click)="viagemService.goUpdate(viagem)" title="Atualizar" class="btn btn-xs btn-warning btn-21">
                <i class="fa fa-wrench"></i></button>
              <button (click)="despesaFrotaService.goCreate(viagem,null,null)" title="Adicionar Despesa"
                      class="btn btn-xs btn-danger btn-21"><i class="fa fa-dollar-sign"></i></button>
              <button (click)="delete(viagem)" title="Deletar Viagem" class="btn btn-xs btn-danger btn-21"><i
                class="fas fa-times"></i></button>
            </td>
          </tr>
          </tbody>

          <tfoot>
            <tr>
              <th colspan="12">
                <div class="ui-toolbar">

                  <select [(ngModel)]="viagemService.page.pageSize" class="input-xs mr-5" (change)="changePageSize()">
                    <option value="10">10 linhas</option>
                    <option value="20">20 linhas</option>
                    <option value="30">30 linhas</option>
                    <option value="40">40 linhas</option>
                    <option value="50">50 linhas</option>
                  </select>

                  <pagination class="ml-5"
                              [totalItems]="viagemService.page.totalRecords"
                              [(ngModel)]="viagemService.page.pageIndex"
                              [boundaryLinks]="true"
                              (pageChanged)="pageChanged($event)"
                              [itemsPerPage]="viagemService.page.pageSize"
                              [maxSize]="10"
                              [rotate]="true"
                              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                  >
                  </pagination>

                  <div class="ui-toolbar-group-right">
                    Número de registros: {{viagemService.page.totalRecords}}
                  </div>

                </div>
              </th>
            </tr>
          </tfoot>

        </table>
      </div>

      <!--<a href="pdfSrc" download="fileName" #download ></a>-->


      <div class="form-row" *ngIf="viagemService.page.list?.length>0">
        <div class="col-4">
          <button  (click)="viagemService.goCreate()" title="Atualizar" class="btn btn-sm btn-primary">
            <li class=" fa fa-plus"></li>
            Criar Nova Viagem
          </button>&nbsp;
        </div>
        <div class="col-8">
        </div>
      </div>



</div>







