<div class="row form-group">

  <div class="col-sm-4">
    <label>Imei</label>
    <ng-select [items]="searchService.equipamentosResult" class="input-sm w-100"
               bindLabel="label"
               [multiple]="false"
               (search)="searchService.searchEquipamentos($event.term)"
               [(ngModel)]="filtro.equipamento">
    </ng-select>
  </div>

  <div class="col-sm-4">
    <label>Iccid</label>
    <ng-select [items]="searchService.chipsResult" class="input-sm w-100"
               bindLabel="label"
               [multiple]="false"
               (search)="searchService.searchChips($event.term)"
               [(ngModel)]="filtro.chip">
    </ng-select>
  </div>

  <div class="col-sm-4">
    <label>Operadora</label>
    <select class="form-control input-sm" [(ngModel)]="filtro.operadora" >
      <option [ngValue]="null"></option>
      <option *ngFor="let obj of operadoras" [value]="obj">{{obj}}</option>
    </select>
  </div>

</div>

<div class="row form-group">

  <div class="col-sm-4">
    <label>Placa</label>
    <input [(ngModel)]="filtro.placa" class="form-control input-sm">
  </div>

  <div class="col-sm-4">
    <label>Tipo do Veiculo</label>
    <select class="form-control input-sm" [(ngModel)]="filtro.veiculoTipo" >
      <option [ngValue]="null"></option>
      <option *ngFor="let obj of veiculoTipos" [value]="obj">{{obj}}</option>
    </select>
  </div>

  <div class="col-sm-4">
    <label>Cliente</label>
    <ng-select [items]="searchService.clientesResult" class="form-control input-sm"
               bindLabel="nome"
               [multiple]="false"
               (search)="searchService.searchClientes($event.term)"
               [(ngModel)]="filtro.cliente">
    </ng-select>
  </div>

</div>


<div class="row form-group">
  <div class="col-sm-3">
    <label>Modelo Rastreador</label>
    <select class="form-control input-sm" [(ngModel)]="filtro.modeloRastreador" >
      <option [ngValue]="null"></option>
      <option *ngFor="let obj of modelosRastreador" [value]="obj">{{obj}}</option>
    </select>
  </div>

  <div class="col-sm-3">
    <label>Status do Equipamento</label>
    <select class="form-control input-sm" [(ngModel)]="filtro.equipamentoSituacao" >
      <option [ngValue]="null"></option>
      <option *ngFor="let obj of equipamentoSituacoes" [value]="obj">{{obj}}</option>
    </select>
  </div>

  <div class="col-sm-3">
    <label>Status do Veículo</label>
    <select class="form-control input-sm" [(ngModel)]="filtro.veiculoStatus" >
      <option [ngValue]="null"></option>
      <option *ngFor="let obj of veiculoStatuses" [value]="obj">{{obj}}</option>
    </select>
  </div>

  <div class="col-sm-3">
    <label>Status do Contrato</label>
    <select class="form-control input-sm" [(ngModel)]="filtro.contratoStatus" >
      <option [ngValue]="null"></option>
      <option *ngFor="let obj of contratoStatuses" [value]="obj">{{obj}}</option>
    </select>
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-3">
    <label>Atraso Mínimo</label>
    <select class="form-control input-sm" [(ngModel)]="filtro.atrasoMinimo" >
      <option [ngValue]="null"></option>
      <option *ngFor="let obj of minutos" [value]="obj">{{obj | number:"2.0-0":"pt_BR"}}</option>
    </select>
  </div>

  <div class="col-sm-3">
    <label>&nbsp;</label>
    <select class="form-control input-sm" [(ngModel)]="filtro.atrasoMinimoUnidade" >
      <option [ngValue]="null"></option>
      <option *ngFor="let obj of atrasoUnidades" [value]="obj">{{obj}}</option>
    </select>
  </div>

  <div class="col-sm-3">
    <label>Atraso Máximo</label>
    <select class="form-control input-sm" [(ngModel)]="filtro.atrasoMaximo" >
      <option [ngValue]="null"></option>
      <option *ngFor="let obj of minutos" [value]="obj">{{obj | number:"2.0-0":"pt_BR"}}</option>
    </select>
  </div>

  <div class="col-sm-3">
    <label>&nbsp;</label>
    <select class="form-control input-sm" [(ngModel)]="filtro.atrasoMaximoUnidade" >
      <option [ngValue]="null"></option>
      <option *ngFor="let obj of atrasoUnidades" [value]="obj">{{obj}}</option>
    </select>
  </div>
</div>

<div class="row form-group">

  <div class="col-sm-3">
    <label>&nbsp;</label>
    <button (click)="showRelatorio(download)" class="btn btn-primary btn-sm btn-block">Pdf<i class="fa fa-file-pdf ml-2"></i></button>
  </div>

  <a href="pdfSrc" download="fileName" #download></a>

</div>
