<ol class="breadcrumb bg-light">
  <li class="breadcrumb-item ">
    Cadastrar Novo Empregado
  </li>
</ol>

<div class="mycontainer">

  <div class="card mt-4">
    <!--  <div class="card-header">
        Dados do Cliente
      </div>-->
    <div class="card-body">
      <form [formGroup]="formGroup" (ngSubmit)="submitForm()">


        <div class="row form-group">

          <div class="col-sm-6">
            <label>Nome</label>
            <app-info-button [control]="formGroup.controls.nome"></app-info-button>
            <input formControlName="nome" class="form-control input-sm "/>
          </div>

          <div class="col-sm-2">
            <div formGroupName="usuario">
              <label>Perfil</label>
              <app-info-button [control]="formGroup['controls'].usuario['controls'].perfil"></app-info-button>

              <select class="form-control input-sm" formControlName="perfil"  >
                <option [ngValue]="null"></option>
                <option *ngFor="let p of empregadoService.perfis" [ngValue]="p">{{p.tipo}}</option>
              </select>

            </div>
          </div>

          <div class="col-sm-2">
            <label>Nascimento</label>
            <app-info-button [control]="formGroup.controls.dataNascimento"></app-info-button>
            <input
              class="form-control input-sm"
              bsDatepicker
              [bsConfig]="datepickerConfigService.setConfig(false)"
              formControlName="dataNascimento"
            >
          </div>


          <div class="col-sm-2">
            <label>CPF</label>
            <app-info-button [control]="formGroup.controls.cpf"></app-info-button>
            <input formControlName="cpf" class="form-control input-sm " [dropSpecialCharacters]="false" [dropSpecialCharacters]="false" mask="000.000.000-00"/>
          </div>

        </div>


        <div class="row form-group">

          <div class="col-sm-4">
            <label>Endereço</label>
            <app-info-button [control]="formGroup.controls.endereco"></app-info-button>
            <input formControlName="endereco" class="form-control input-sm">
          </div>
          <div class="col-sm-2">
            <label>Núm.</label>
            <app-info-button [control]="formGroup.controls.numero"></app-info-button>
            <input formControlName="numero" class="form-control input-sm">
          </div>
          <div class="col-sm-3">
            <label>Compl.</label>
            <input formControlName="complemento" class="form-control input-sm">
          </div>
          <div class="col-sm-3">
            <label>Bairro</label>
            <app-info-button [control]="formGroup.controls.bairro"></app-info-button>
            <input formControlName="bairro" class="form-control input-sm">
          </div>

        </div>


        <div class="row form-group">

          <div class="col-sm-3">
            <label>Cidade</label>
            <app-info-button [control]="formGroup.controls.municipio"></app-info-button>


            <ng-select class="input-sm w-100"
                       bindLabel="label"
                       notFoundText="não encontrado"
                       [multiple]="false"
                       [items]="searchServices.municipiosResult"
                       (search)="searchServices.searchMunicipios($event.term)"
                       formControlName="municipio">
            </ng-select>


          </div>

          <div class="col-sm-3">
            <label>CEP</label>
            <app-info-button [control]="formGroup.controls.cep"></app-info-button>
            <input formControlName="cep" class="form-control input-sm" [dropSpecialCharacters]="false" mask="00.000-000">
          </div>

          <div class="col-sm-3">
            <div formGroupName="usuario">
              <label>Usuário Internet</label>
              <app-info-button [control]="formGroup['controls'].usuario['controls'].nomeUsuario"></app-info-button>
              <input formControlName="nomeUsuario" class="form-control input-sm">
            </div>
          </div>





          <div class="col-sm-3">
            <label>Situação</label>
            <app-info-button [control]="formGroup['controls'].status"></app-info-button>
            <select formControlName="status" class="form-control input input-sm">
              <option [ngValue]="null"></option>
              <option *ngFor="let status of empregadoService.statuses" [value]="status.value">{{status.label}}</option>
            </select>

          </div>


        </div>


        <div class="row form-group">

          <div class="col-sm-3">
            <label>Fixo</label>
            <app-info-button [control]="formGroup.controls.telefoneFixo"></app-info-button>
            <input formControlName="telefoneFixo" class="form-control input-sm" [dropSpecialCharacters]="false" mask="(00) 00000-0000"/>
          </div>

          <div class="col-sm-3">
            <label>Celular 1</label>
            <app-info-button [control]="formGroup.controls.celular1"></app-info-button>
            <input formControlName="celular1" class="form-control input-sm" [dropSpecialCharacters]="false" mask="(00) 00000-0000"/>
          </div>

          <div class="col-sm-3">
            <label>Celular 2</label>
            <app-info-button [control]="formGroup.controls.celular2"></app-info-button>
            <input formControlName="celular2" class="form-control input-sm" [dropSpecialCharacters]="false" mask="(00) 00000-0000"/>
          </div>

          <div class="col-sm-3">
            <label>Data Cadastro</label>
            <app-info-button [control]="formGroup.controls.dataCadastro"></app-info-button>

            <input
              class="form-control input-sm"
              bsDatepicker
              [bsConfig]="datepickerConfigService.setConfig(false)"
              formControlName="dataCadastro"
            >
          </div>


        </div>



        <div class="row form-group">

          <div class="col-sm-6">
            <label>Email</label>
            <app-info-button [control]="formGroup.controls.email"></app-info-button>
            <input formControlName="email" class="form-control input-sm" />
          </div>

          <div class="col-sm-3">
            <label>Salário</label>
            <app-info-button [control]="formGroup.controls.salario"></app-info-button>
            <input formControlName="salario" class="form-control input-sm"  type="number"/>
          </div>


        </div>




        <div class="row mt-3">
          <div class="col-lg-5">
            <button (click)="empregadoService.goList()" class="btn btn-sm btn-primary mr-3">Voltar</button>
            <button type="submit" *ngIf="empregadoService.operacao!='SHOW'" class="btn btn-sm btn-primary ">Salvar
            </button>
          </div>
          <div class="col-lg-7">
          </div>
        </div>


      </form>
    </div>
  </div>


</div>


