
<div class="row">

  <div class="col-sm-3">
  </div>

  <div class="col-sm-6">
    <div class="form-group ">
      <label>Escolha o Estado</label>
      <select id="estado" name="estado" class="form-control input-xs"  [(ngModel)]="uf">
        <option value="AC">Acre</option>
        <option value="AL">Alagoas</option>
        <option value="AP">Amapá</option>
        <option value="AM">Amazonas</option>
        <option value="BA">Bahia</option>
        <option value="CE">Ceará</option>
        <option value="DF">Distrito Federal</option>
        <option value="ES">Espírito Santo</option>
        <option value="GO">Goiás</option>
        <option value="MA" selected >Maranhão</option>
        <option value="MT">Mato Grosso</option>
        <option value="MS">Mato Grosso do Sul</option>
        <option value="MG">Minas Gerais</option>
        <option value="PA">Pará</option>
        <option value="PB">Paraíba</option>
        <option value="PR">Paraná</option>
        <option value="PE">Pernambuco</option>
        <option value="PI">Piauí</option>
        <option value="RJ">Rio de Janeiro</option>
        <option value="RN">Rio Grande do Norte</option>
        <option value="RS">Rio Grande do Sul</option>
        <option value="RO">Rondônia</option>
        <option value="RR">Roraima</option>
        <option value="SC">Santa Catarina</option>
        <option value="SP">São Paulo</option>
        <option value="SE">Sergipe</option>
        <option value="TO">Tocantins</option>
      </select>
    </div>
  </div>




</div>


<div class="row ">

  <div class="col-sm-3">
  </div>

  <div class="col-sm-3">
    <div class="form-group ">
      <label>Início do Período</label>
      <input
        class="form-control input-xs"
        bsDatepicker
        [bsConfig]= "datepickerConfigService.setConfig(true)"
        [(ngModel)]="inicio"
        (bsValueChange)="datepickerConfigService.bsValueChange($event,inicio)"
      >
    </div>
  </div>

  <div class="col-sm-3">
    <div class="form-group ">
      <label>Fim do Período</label>
      <input
        class="form-control input-xs"
        bsDatepicker
        [bsConfig]= "datepickerConfigService.setConfig(true)"
        [(ngModel)]="fim"
        (bsValueChange)="datepickerConfigService.bsValueChange($event,fim)"
      >




    </div>
  </div>


  <div class="col-sm-3">
  </div>

</div>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">

    <hr class="m-2">

    <div class="row pl-3 pr-3">
      <div class="col-sm-6">Viagens por Estado</div>
      <div class="col-sm-3">
        <button (click)="relatorioViagensPorEstado('pdf')" class="btn btn-primary btn-sm btn-block">Pdf<i class="fa fa-file-pdf ml-2"></i></button>
      </div>
      <div class="col-sm-3">
        <button (click)="relatorioViagensPorEstado('excel')" class="btn btn-primary btn-sm btn-block">Excel<i class="fa fa-file-excel ml-2"></i></button>
      </div>
    </div>

    <hr class="m-2">

  </div>
  <div class="col-sm-1"></div>
</div>



