<ol class="breadcrumb bg-light">
  <li class="breadcrumb-item ">
    Cadastrar Novo Rastreador
  </li>
</ol>

<div class="mycontainer">

  <div class="card mt-4">
    <!--  <div class="card-header">
        Dados do Cliente
      </div>-->
    <div class="card-body">
      <form [formGroup]="formGroup" (ngSubmit)="submitForm()">


        <div class="row form-group">

          <div class="col-sm-4">
            <label>Imei</label>
            <app-info-button [control]="formGroup.controls.imei"></app-info-button>
            <input formControlName="imei"  class="form-control input-sm "  [dropSpecialCharacters]="false" mask="000000000000000"  />
          </div>

          <div class="col-sm-4">
            <label>Chip</label>
            <app-info-button [control]="formGroup.controls.chip"></app-info-button>
            <ng-select [items]="searchService.chipsResult" class="input-sm w-100"
                       bindLabel="label"
                       [multiple]="false"
                       (search)="searchService.searchChips($event.term)"
                       formControlName="chip">
            </ng-select>
          </div>

          <div class="col-sm-4">
            <label>Possuidor</label>
            <app-info-button [control]="formGroup.controls.possuidor"></app-info-button>

            <ng-select class="input-sm w-100"
                       bindLabel="nome"
                       notFoundText="não encontrado"
                       [multiple]="false"
                       [items]="searchService.empregadosResult"
                       (search)="searchService.searchEmpregados($event.term)"
                       formControlName="possuidor">
            </ng-select>


          </div>






        </div>

        <div class="row form-group">

          <div class="col-sm-4">
            <label>Modelo Rastreador</label>
            <app-info-button [control]="formGroup.controls.modelo"></app-info-button>
            <select formControlName="modelo" class="form-control input-sm" >
              <option [ngValue]="null"></option>
              <option *ngFor="let modelo of equipamentoService.modelosRastreador" [value]="modelo.valor">{{modelo.descricao}}</option>
            </select>
          </div>


          <div class="col-sm-4">
            <label>Status do Rastreador</label>
            <app-info-button [control]="formGroup.controls.situacao"></app-info-button>
            <select formControlName="situacao" class="form-control input-sm" >
              <option [ngValue]="null"></option>
              <option *ngFor="let situacao of equipamentoService.equipamentosSituacao" [value]="situacao.valor">{{situacao.descricao}}</option>
            </select>
          </div>

          <div class="col-sm-4">
            <label>Senha</label>
            <input formControlName="senha"  class="form-control input-sm " [dropSpecialCharacters]="false" mask="AAAAAAAA" >
          </div>










        </div>

        <div class="row form-group">

          <div class="col-sm-6">
            <label>Observação</label>
            <app-info-button [control]="formGroup.controls.observacao"></app-info-button>
            <textarea formControlName="observacao"  class="form-control input-sm "  rows="5" ></textarea>
          </div>

          <div class="col-sm-2">
            <label>Data Cadastro</label>
            <app-info-button [control]="formGroup.controls.dataCadastro"></app-info-button>
            <input
              class="form-control input-sm"
              bsDatepicker
              [bsConfig]= "datepickerConfigService.setConfig(true)"
              formControlName="dataCadastro"
            >
          </div>

          <div class="col-sm-2">
            <label>Inicio Spot3</label>
            <input
              class="form-control input-sm"
              bsDatepicker
              [bsConfig]= "datepickerConfigService.setConfig(true)"
              formControlName="inicioSpot"
            >
          </div>

          <div class="col-sm-2">
            <label>Vencimento Spot3</label>
            <input
              class="form-control input-sm"
              bsDatepicker
              [bsConfig]= "datepickerConfigService.setConfig(true)"
              formControlName="vencimentoSpot"
            >
          </div>

        </div>

        <div class="row mt-3">
          <div class="col-lg-5">
            <button (click)="equipamentoService.goList()" class="btn btn-sm btn-primary mr-3">Voltar</button>
            <button type="submit" *ngIf="equipamentoService.operacao!='SHOW'" class="btn btn-sm btn-primary ">Salvar</button>
          </div>
          <div class="col-lg-7">
          </div>
        </div>



      </form>
    </div>
  </div>



</div>
