<ol class="breadcrumb">
  <li class="breadcrumb-item">
    Cadastrar Novo Motorista
  </li>
</ol>
<div class="mycontainer">

  <form [formGroup]="formGroup" (ngSubmit)="submitForm()">


  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label>Nome</label>
        <app-info-button [control]="formGroup.controls.nome"></app-info-button>
        <input formControlName="nome" class="form-control text-uppercase input-sm" >
      </div>
    </div>



    <div class="col-sm-2">
      <div class="form-group">
        <label>CPF</label>
        <app-info-button [control]="formGroup.controls.cpf"></app-info-button>
        <input formControlName="cpf"  class="form-control input-sm" type="text" [dropSpecialCharacters]="false" mask="000.000.000-00"  />
        <span  class="text-danger small bold"></span>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="form-group">
        <label>Data de Nascimento</label>
        <input
          class="form-control input-sm"
          bsDatepicker
          [bsConfig]= "datepickerConfigService.setConfig(false)"
          formControlName="dataNascimento"
        >
<!--
        <p-calendar formControlName="dataNascimento"
          dateFormat="dd/mm/yy "  hourFormat="24"
          [style]="{width:'100%'}" inputStyleClass="form-control"
        >
        </p-calendar>
-->
      </div>
    </div>

    <div class="col-sm-2">
      <div class="form-group">
        <label>Vencimento CNH</label>
        <app-info-button [control]="formGroup.controls.validadeCnh"></app-info-button>

        <input
          class="form-control input-sm"
          bsDatepicker
          [bsConfig]= "datepickerConfigService.setConfig(false)"
          formControlName="validadeCnh"
        >

<!--
        <p-calendar formControlName="validadeCnh"  autocomplete="off"
          dateFormat="dd/mm/yy "
          [style]="{width:'100%'}" inputStyleClass="form-control"
        >
        </p-calendar>
-->
      </div>
    </div>



    <div class="col-sm-2">
      <div class="form-group">
        <label>Categoria CNH</label>
        <app-info-button [control]="formGroup.controls.categoriaCnh"></app-info-button>
        <select formControlName="categoriaCnh" class="form-control input-sm">
        <option value="" selected="selected">&nbsp;</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        <option value="E">E</option>
        <option value="AB">AB</option>
        <option value="AC">AC</option>
        <option value="AD">AD</option>
        <option value="AE">AE</option>
        <option value="ACC">ACC</option>
      </select>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label>Endereço</label>
        <app-info-button [control]="formGroup.controls.endereco"></app-info-button>
        <input formControlName="endereco" class="form-control input-sm" >
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label>Número</label>
        <app-info-button [control]="formGroup.controls.numero"></app-info-button>
        <input formControlName="numero" class="form-control input-sm" >
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label>Compl.</label>
        <input formControlName="complemento" class="form-control input-sm" >
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Bairro</label>
        <app-info-button [control]="formGroup.controls.bairro"></app-info-button>
        <input formControlName="bairro" class="form-control input-sm" >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label>Cidade</label>
        <app-info-button [control]="formGroup.controls.municipio"></app-info-button>

        <ng-select class="input-sm w-100"
                   bindLabel="label"
                   notFoundText="não encontrado"
                   [multiple]="false"
                   [items]="searchServices.municipiosResult"
                   (search)="searchServices.searchMunicipios($event.term)"
                   formControlName="municipio">
        </ng-select>

      </div>
    </div>


    <div class="col-sm-4">
      <div class="form-group">
        <label >CEP</label>
        <input formControlName="cep" class="form-control input-sm" [dropSpecialCharacters]="false" mask="00.000-000">
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <label>Email</label>
        <input formControlName="email" class="form-control input-sm" >
      </div>
    </div>

  </div>



  <div class="row">
    <div class="col-sm-2">
      <div class="form-group">
        <label>Telefone Fixo</label>
        <input formControlName="telefoneFixo" class="form-control input-sm" [dropSpecialCharacters]="false" mask="(00) 0000-0000">
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label >Celular 1</label>
        <app-info-button [control]="formGroup.controls.celular1"></app-info-button>
        <input formControlName="celular1" class="form-control input-sm" [dropSpecialCharacters]="false" mask="(00) 00000-0000">
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label>Celular 2</label>
        <input formControlName="celular2" class="form-control input-sm" [dropSpecialCharacters]="false" mask="(00) 00000-0000">
      </div>
    </div>

    <div class="col-sm-2">
      <div class="form-group">
        <label>Status</label>
        <app-info-button [control]="formGroup.controls.status"></app-info-button>
        <select formControlName="status" class="form-control input-sm" >
        <option value="">&nbsp;</option>
        <option value="ATIVO">ATIVO</option>
        <option value="INATIVO">INATIVO</option>
      </select>
      </div>
    </div>

<!--
    <div class="col-sm-2">
      <div class="form-group">
        <label>Data do Cadastro</label>

        <input
          class="form-control input-sm"
          bsDatepicker
          [bsConfig]= "datepickerConfigService.setConfig(true)"
          formControlName="dataCAdastro"
        >

      </div>
    </div>
-->

  </div>
    <div class="row mt-sm-2">
      <div class="col-lg-5">
        <button (click)="motoristaService.goList()" class="btn btn-primary mr-3">Voltar</button>
        <button type="submit" *ngIf="motoristaService.operacao!='SHOW'" class="btn btn-primary ">Salvar</button>
      </div>
      <div class="col-lg-7">
      </div>
    </div>

</form>

</div>
