<ol class="breadcrumb bg-light">
  <li class="breadcrumb-item">
    Atualização de Carnê
  </li>
</ol>

<div class="mycontainer">

  <div class="card mt-4">
    <!--  <div class="card-header">
        Dados do Cliente
      </div>-->
    <div class="card-body">

    <div class="row">

      <div class="col-sm-8">
        <div class="form-group">
          <label >Cliente</label>
          <input [disabled]="true"
                 type="text"
                 name="cliente"
                 [(ngModel)]="carne.contrato.cliente.nome"
                 class="input-sm form-control input-s-sm "  />
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label>Valor Mensal Por Veículo</label>
          <input [disabled]="true"
                 type="text" name="mensalidade"
                 [(ngModel)]="carne.contrato.mensalidade"
                 class="input-sm form-control input-s-sm " style="" />
        </div>
      </div>

    </div>

    <div class="row">


      <div class="col-sm-4">
        <div class="form-group">
          <label>Quantidade de Boletos No
            Carnê</label>
          <select [disabled]="true"
                  [(ngModel)]="carne.quantidadeBoleto"
                  class="input-sm form-control input-sm " >
            <option value="1">01 boleto</option>
            <option value="2">02 boletos</option>
            <option value="3">03 boletos</option>
            <option value="4">04 boletos</option>
            <option value="5">05 boletos</option>
            <option value="6">06 boletos</option>
            <option value="7">07 boletos</option>
            <option value="8">08 boletos</option>
            <option value="9">09 boletos</option>
            <option value="10">10 boletos</option>
            <option value="11">11 boletos</option>
            <option value="12">12 boletos</option>
          </select>
        </div>
      </div>



      <div class="col-sm-4">
        <div class="form-group">
          <label>Primeiro Vencimento</label>
          <input
            class="form-control input-sm "
            bsDatepicker
            [bsConfig]= "datepickerConfigService.setConfig(true)"
            [(ngModel)]="carne.dataVencimentoInicio"
            [disabled]="true"
          >
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label>Data de Postagem</label>
          <input
            class="form-control input-sm "
            bsDatepicker
            [bsConfig]= "datepickerConfigService.setConfig(true)"
            [(ngModel)]="carne.postagem"
          >
        </div>
      </div>







    </div>

    <div class="row mt-3">
      <div class="col-sm-12">
        <button (click)="voltar()" class="btn btn-primary btn-sm mr-3">Voltar</button>
        <button label="Atualizar Carnê" (click)="atualizarCarne()" title="Criar Carnê" class="btn btn-primary btn-sm">Salvar</button>&nbsp;
      </div>

    </div>
    </div>
  </div>

  </div>


