<ol class="breadcrumb">
  <li class="breadcrumb-item">
    Criar Nova Despesas da Frota..
  </li>
</ol>
<div class="mycontainer">

  <form [formGroup]="formGroup" (ngSubmit)="submitForm()">

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group has-danger">
          <label>Categoria</label>
          <select formControlName="categoria" class="form-control input-sm"  >
            <option *ngFor="let categoria of despesaFrotaService.categorias" [value]="categoria.value">{{categoria.label}}</option>
          </select>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label>Espécie</label>
          <app-info-button [control]="formGroup.controls.especie"></app-info-button>
          <select formControlName="especie" class="form-control input-sm" (change)="enableDisableLitros()" >
            <option *ngFor="let especie of especies" [value]="especie.value">{{especie.label}}</option>
          </select>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label>Valor</label>
          <app-info-button [control]="formGroup.controls.valor"></app-info-button>
          <input formControlName="valor" currencyMask class="form-control input-sm" />
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label>Data da Despesa</label>
          <app-info-button [control]="formGroup.controls.dataDaDespesa"></app-info-button>

          <input
            class="form-control input-sm"
            bsDatepicker
            [bsConfig]= "bsConfig"
            formControlName="dataDaDespesa"
          >

<!--
          <p-calendar formControlName="dataDaDespesa"
                      dateFormat="dd/mm/yy " showTime="true" hourFormat="24"
                      [style]="{width:'100%'}" inputStyleClass="form-control"
          >
          </p-calendar>
-->


        </div>
      </div>

    </div>
    <div class="row">

      <div class="col-sm-3">
        <div class="form-group">
          <label>Viagem</label>

            <ng-select class="input-sm w-100"
                       bindLabel="numeroViagem"
                       [multiple]="false"
                       formControlName="viagem"
            >
            </ng-select>

        </div>
      </div>


      <div class="col-sm-3">
        <div class="form-group">
          <label>Motorista</label>

          <app-info-button [control]="formGroup.controls.motorista"></app-info-button>
          <ng-select class="input-sm w-100"
                     bindLabel="nome"
                     notFoundText="não encontrado"
                     [multiple]="false"
                     [items]="searchService.motoristasResult"
                     (search)="searchService.searchMotoristas($event.term)"
                     formControlName="motorista">
          </ng-select>



        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label>Veículo</label>

          <app-info-button [control]="formGroup.controls.veiculo"></app-info-button>

          <ng-select class="input-sm w-100"
                     bindLabel="placa"
                     notFoundText="não encontrado"
                     [multiple]="false"
                     [items]="searchService.veiculosResult"
                     (search)="searchService.searchVeiculos($event.term)"
                     formControlName="veiculo">
          </ng-select>

        </div>

      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <app-info-button [control]="formGroup.controls.litros"></app-info-button>
          <label>Qtde Combustível (litros)</label>
          <input formControlName="litros" class="form-control input-sm" currencyMask [options]="{ prefix: ''}"/>
        </div>
      </div>


    </div>

    <div class="row">

      <div class="col-sm-6">
        <div class="form-group">
          <label>Descrição</label>
          <input formControlName="descricao" class="form-control input-sm"   />
        </div>
      </div>
    </div>

    <div class="row mt-sm-2">
      <div class="col-lg-5">
        <button (click)="listarDespesaFrotas()" class="btn btn-primary mr-3">Voltar</button>
        <button *ngIf="despesaFrotaService.operacao!='SHOW'" type="submit" class="btn btn-primary ">Salvar</button>
      </div>
      <div class="col-lg-7">
      </div>
    </div>


  </form>


</div>
