<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-item >
            <ion-icon name="car" style="font-size: 32px; padding-right: 5px" ></ion-icon>
            <ion-label><h3>Veículos</h3></ion-label>
        </ion-item>
    </ion-toolbar>

</ion-header>




<ion-progress-bar color="primary" *ngIf="showProgressBar"  type="indeterminate"></ion-progress-bar>
<ion-content>

  <!--  <ion-list>


        <ion-list-header>
            Cliente: {{dataService.cliente?.nome}}
        </ion-list-header>
-->


        <ion-item *ngFor="let veiculo of dataService.veiculos" routerLink="#" (click)="goMapa(veiculo)">
            <ion-avatar slot="start">
                <img src="assets/icon/{{getIcon(veiculo.tipo)}}.png">
            </ion-avatar>
            <ion-label>
                <h2><strong>{{veiculo.placa}}</strong></h2>
                <h3 style="color: blue;" >{{veiculo.marcaModelo}} - {{veiculo.cor}}</h3>
            </ion-label>
        </ion-item>





   <!-- </ion-list>-->

</ion-content>
