<ol class="breadcrumb bg-light">
  <li class="breadcrumb-item ">
    Cadastrar Novo Contrato
  </li>
</ol>

<div class="mycontainer">



  <form [formGroup]="formGroup" (ngSubmit)="submitForm()" autocomplete="offrandom">


    <div class="card">
      <div class="card-header">
        Dados do Cliente
      </div>
      <div class="card-body">
        <div formGroupName="cliente" >

          <div class="row form-group">

            <div class="col-sm-3">
                <label>Nome</label>
                <app-info-button [control]="formGroup['controls'].cliente['controls'].nome"></app-info-button>
                <input formControlName="nome" class="form-control input-sm" >
            </div>

            <div class="col-sm-2">
              <div formGroupName="usuario">
                <label>Perfil</label>
                <app-info-button [control]="formGroup['controls'].cliente['controls'].usuario['controls'].perfil"></app-info-button>

                <select class="form-control input-sm" formControlName="perfil" (change)="selectTipoPessoa()" >
                  <option [ngValue]="null"></option>
                  <option *ngFor="let p of contratoService.perfis" [ngValue]="p">{{p.tipo}}</option>
                </select>

              </div>
            </div>


            <div class="col-sm-2">
                <label>CPF</label>
                <app-info-button [control]="formGroup['controls'].cliente['controls'].cpf"></app-info-button>
                <input formControlName="cpf" class="form-control input-sm" [dropSpecialCharacters]="false" mask="000.000.000-00">
            </div>

            <div class="col-sm-2">
                <label>CNPJ</label>
                <app-info-button [control]="formGroup['controls'].cliente['controls'].cnpj"></app-info-button>
                <input formControlName="cnpj" class="form-control input-sm" [dropSpecialCharacters]="false" mask="00.000.000/0000-00">
            </div>

            <div class="col-sm-3">
                <label>Nome Fantasia</label>
                <app-info-button [control]="formGroup['controls'].cliente['controls'].nomeFantasia"></app-info-button>
                <input formControlName="nomeFantasia" class="form-control input-sm" >
            </div>





          </div>


          <div class="row form-group">

            <div class="col-sm-3">
                <label>Endereço</label>
                <app-info-button [control]="formGroup['controls'].cliente['controls'].endereco"></app-info-button>
                <input formControlName="endereco" class="form-control input-sm"  >
            </div>
            <div class="col-sm-1">
                <label>Núm.</label>
                <app-info-button [control]="formGroup['controls'].cliente['controls'].numero"></app-info-button>
                <input formControlName="numero" class="form-control input-sm" >
            </div>
            <div class="col-sm-1">
                <label>Compl.</label>
                <input formControlName="complemento" class="form-control input-sm" >
            </div>
            <div class="col-sm-2">
                <label>Bairro</label>
                <app-info-button [control]="formGroup['controls'].cliente['controls'].bairro"></app-info-button>
                <input formControlName="bairro" class="form-control input-sm" >
            </div>

            <div class="col-sm-3">
                <label>Cidade</label>
                <app-info-button [control]="formGroup['controls'].cliente['controls'].municipio"></app-info-button>


              <ng-select class="input-sm w-100"
                         bindLabel="label"
                         notFoundText="não encontrado"
                         [multiple]="false"
                         [items]="searchServices.municipiosResult"
                         (search)="searchServices.searchMunicipios($event.term)"
                         formControlName="municipio">
              </ng-select>


            </div>

            <div class="col-sm-2">
                <label >CEP</label>
                <app-info-button [control]="formGroup['controls'].cliente['controls'].cep"></app-info-button>
                <input formControlName="cep" class="form-control input-sm" [dropSpecialCharacters]="false" mask="00.000-000">
            </div>


          </div>

          <div class="row form-group">

            <div class="col-sm-3">
                <label>Email Financeiro</label>
                <app-info-button [control]="formGroup['controls'].cliente['controls'].email"></app-info-button>
                <input formControlName="email" class="form-control input-sm" >
            </div>

            <div class="col-sm-2">
                <label>Telefone Fixo</label>
                <input formControlName="telefoneFixo" class="form-control input-sm" [dropSpecialCharacters]="false" mask="(00) 0000-0000">
            </div>

            <div class="col-sm-2">
                <label>Nascimento</label>
                <app-info-button [control]="formGroup['controls'].cliente['controls'].dataNascimento"></app-info-button>

                <input
                  class="form-control input-sm"
                  bsDatepicker
                  [bsConfig]= "datepickerConfigService.setConfig(false)"
                  formControlName="dataNascimento"
                >
            </div>





            <div class="col-sm-2">
              <div formGroupName="usuario">
                  <label >Usuário Internet</label>
                  <app-info-button [control]="formGroup['controls'].cliente['controls'].usuario['controls'].nomeUsuario"></app-info-button>
                  <input formControlName="nomeUsuario" class="form-control input-sm">
              </div>
            </div>





            <div class="col-sm-3">
                <label >Logotipo</label>
                <app-info-button [control]="formGroup['controls'].cliente['controls'].logoFile"></app-info-button>
                <input formControlName="logoFile" class="form-control input-sm "  >
            </div>

          </div>

          <div class="row form-group">

            <div class="col-sm-3">
                <label>Email Notificação/Alarmes</label>
                <input formControlName="emailAlarme" class="form-control input-sm " >
            </div>

            <div class="col-sm-2">
                <label >Celular 1</label>
                <app-info-button [control]="formGroup['controls'].cliente['controls'].celular1"></app-info-button>
                <input formControlName="celular1" class="form-control input-sm" [dropSpecialCharacters]="false" mask="(00) 00000-0000">
            </div>

            <div class="col-sm-2">
                <label>Celular 2</label>
                <app-info-button [control]="formGroup['controls'].cliente['controls'].celular2"></app-info-button>
                <input formControlName="celular2" class="form-control input-sm " [dropSpecialCharacters]="false" mask="(00) 00000-0000">
            </div>

            <div class="col-sm-2">
                <label>Status do Acesso</label>
                <app-info-button [control]="formGroup['controls'].cliente['controls'].status"></app-info-button>
                <select formControlName="status" class="form-control input-sm" >
                  <option value="">&nbsp;</option>
                  <option value="ATIVO">ATIVO</option>
                  <option value="INATIVO">INATIVO</option>
                </select>
            </div>


          </div>

        </div>
      </div>
    </div>




    <div class="card">
      <div class="card-header">
        Dados de Contrato
      </div>
      <div class="card-body">
        <div class="row form-group ">


          <div class="col-sm-3">
              <label>Vendedor/Indicante</label>
              <app-info-button [control]="formGroup.controls.vendedor"></app-info-button>

              <ng-select class="input-sm w-100"
                         bindLabel="nome"
                         notFoundText="não encontrado"
                         [multiple]="false"
                         [items]="searchServices.empregadosResult"
                         (search)="searchServices.searchEmpregados($event.term)"
                         formControlName="vendedor">
              </ng-select>



          </div>

          <div class="col-sm-2">
              <label>Status Contrato</label>
              <app-info-button [control]="formGroup['controls'].cliente['controls'].status"></app-info-button>
              <select formControlName="status" class="form-control input-sm" >
                <option value="">&nbsp;</option>
                <option value="ATIVO">ATIVO</option>
                <option value="CANCELADO">CANCELADO</option>
                <option value="ENCERRADO">ENCERRADO</option>
                <option value="SUSPENSO">SUSPENSO</option>
              </select>
          </div>

          <div class="col-sm-2">
              <label>Vl. Mensal/Veículo</label>
              <app-info-button [control]="formGroup.controls.mensalidade"></app-info-button>
              <input formControlName="mensalidade"  class="form-control input-sm" type="text" currencyMask  />
          </div>

          <div class="col-sm-2">
              <label>Vencimento</label>
              <app-info-button [control]="formGroup.controls.diaVencimento"></app-info-button>
              <select formControlName="diaVencimento" class="form-control input-sm" >
                <option [ngValue]="null">&nbsp;</option>
                <option value="1">1</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
              </select>
          </div>

          <div class="col-sm-2">
              <label>Início do Contrato</label>
              <app-info-button [control]="formGroup.controls.inicio"></app-info-button>
              <input
                class="form-control input-sm"
                bsDatepicker
                [bsConfig]= "datepickerConfigService.setConfig(true)"
                formControlName="inicio"
              >
          </div>


        </div>


        <div class="row form-group">

          <div class="col-sm-2">
              <label>Tipo de Contrato</label>
              <app-info-button [control]="formGroup.controls.contratoTipo"></app-info-button>
              <select formControlName="contratoTipo" class="form-control input-sm" >
                <option value="COMODATO">COMODATO</option>
                <option value="AQUISICAO">AQUISICAO</option>
                <option value="VISITANTE">VISITANTE</option>
              </select>
          </div>


          <div class="col-sm-2 mt-3">

              <input type="checkbox" formControlName="pagamentoAnual"  class="mt-1 mr-1" />
              <label>Pag. Anual</label>

          </div>

        </div>



      </div>
    </div>




    <div class="row mt-sm-1">
      <div class="col-lg-5">
        <button type="button" (click)="contratoService.goList()" class="btn btn-sm btn-primary mr-3">Voltar</button>
        <button type="submit" *ngIf="contratoService.operacao!='SHOW'" class="btn btn-sm btn-primary ">Salvar</button>
      </div>
      <div class="col-lg-7">
      </div>
    </div>

  </form>

</div>

