<p-dialog header="Endereço do Cliente"  [(visible)]="showEndereco"
          [style]="{width: '600px', textAlign: 'left'}"
          [contentStyle]="{'min-height':'90px'}"
          [modal]="true"
          [baseZIndex]="100000"
          [blockScroll]="true"
          [closable]="true"

>

  <p>
    <span style="font-size: medium ; font-family: Times New Roman, Times, serif; ">
      <br>&nbsp;&nbsp;&nbsp;
      <b>{{carne?.contrato?.cliente?.nome.toUpperCase()}}</b>
      <br>&nbsp;&nbsp;&nbsp;&nbsp;{{carne?.contrato?.cliente?.endereco?.toUpperCase()}} , nº {{carne?.contrato?.cliente?.numero?.toUpperCase()}}  {{carne?.contrato?.cliente?.complemento?.toUpperCase()}}
      <br>&nbsp;&nbsp;&nbsp;&nbsp;{{carne?.contrato?.cliente?.bairro.toUpperCase()}}, {{carne?.contrato?.cliente?.municipio?.label?.toUpperCase()}}
      <br>&nbsp;&nbsp;&nbsp;&nbsp;CEP {{carne?.contrato?.cliente?.cep?.toUpperCase()}}</span>
  </p>

</p-dialog>


<!--<p-dialog [showHeader]="false" [(visible)]="showAtualizaCarne"
          [style]="{width: '900px', textAlign: 'left'}"
          [contentStyle]="{'min-height':'90px'}"
          [modal]="true"
          [baseZIndex]="100000"
          [blockScroll]="true"

>

  <app-atualizar-carne></app-atualizar-carne>

</p-dialog>-->




<ol class="breadcrumb bg-light">
  <li class="breadcrumb-item">
    Carnês
  </li>
</ol>


<div class="ml-4 mr-4">

<div class="table-responsive">

      <table class="table table-bordered table-striped table-xs">
        <thead>
          <tr>
            <th>Cliente

              <ng-select [items]="searchService.clientesResult" class="form-control input-xs"
                         bindLabel="nome"
                         [multiple]="false"
                         (search)="searchService.searchClientes($event.term)"
                         [(ngModel)]="carneService.filtro.contrato.cliente">
              </ng-select>

            </th>
            <th class="text-center">Data da Postagem</th>
            <th class="text-center">Vencimento Inicial</th>
            <th class="text-center">Vencimento Final</th>
            <th class="text-center">Valor Inicial</th>
            <th class="text-center"><button (click)="filtrar()"  class="btn btn-sm btn-primary">Filtrar</button></th>
          </tr>
        </thead>

        <tbody>
        <tr *ngFor="let carne of carneService.page.list">

            <td><button (click)="showEnderecoMethod(carne)" class="btn btn-link">{{carne.contrato?.cliente?.nome}}</button></td>
            <td class="text-center">{{carne.postagem | date:'dd/MM/yy' }}</td>
            <td class="text-center">{{carne.dataVencimentoInicio | date:'dd/MM/yy' }}</td>
            <td class="text-center">{{carne.dataVencimentoFim | date:'dd/MM/yy' }}</td>
            <td class="text-center">{{carne.valorPrimeiroBoleto}}</td>
            <td class="text-center">



<!--
              <p-button  (click)="carneService.goShow(carne)"  title="Mostrar" styleClass="ui-button-primary" icon="fa fa-search" ></p-button>&nbsp;

-->
              <button  (click)="carneService.goUpdate(carne)"  title="Atualizar" class="btn btn-xs btn-warning btn-21 mr-2"><i class="fa fa-wrench"></i></button>
              <button  (click)="showCarnePdf(carne,download)"  title="PDF" class="btn btn-xs btn-primary btn-21"><i class="fa fa-file"></i></button>&nbsp;


            </td>

          </tr>
        </tbody>



        <tfoot>
        <tr>
          <th colspan="12">
            <div class="ui-toolbar">

              <select [(ngModel)]="carneService.page.pageSize" class="input-xs mr-5" (change)="changePageSize()">
                <option value="10">10 linhas</option>
                <option value="20">20 linhas</option>
                <option value="30">30 linhas</option>
                <option value="40">40 linhas</option>
                <option value="50">50 linhas</option>
              </select>

              <pagination class="ml-5"
                          [totalItems]="carneService.page.totalRecords"
                          [(ngModel)]="carneService.page.pageIndex"
                          [boundaryLinks]="true"
                          (pageChanged)="pageChanged($event)"
                          [itemsPerPage]="carneService.page.pageSize"
                          [maxSize]="10"
                          [rotate]="true"
                          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
              >
              </pagination>

              <div class="ui-toolbar-group-right">
                Número de registros: {{carneService.page.totalRecords}}
              </div>

            </div>
          </th>
        </tr>
        </tfoot>

      </table>

</div>

  <a href="pdfSrc" download="fileName" #download ></a>

  <button  (click)="carneService.goCreate()" title="Atualizar" class="btn btn-sm btn-primary mb-3">
    <li class=" fa fa-plus"></li>
    Criar novo Carne
  </button>


</div>












