<ol class="breadcrumb">
  <li class="breadcrumb-item">
    Cadastrar Novo Boleto
  </li>
</ol>
<div class="mycontainer">

  <form [formGroup]="formGroup" (ngSubmit)="submitForm()">

      <div class="row">

          <div class="col-sm-4">
            <div class="form-group">
              <label>Cliente</label>
              <app-info-button [control]="formGroup.controls.contrato"></app-info-button>


              <ng-select class="input-sm w-100"
                         bindLabel="label"
                         notFoundText="não encontrado"
                         [multiple]="false"
                         [items]="searchService.contratosResult"
                         (search)="searchService.searchContratos($event.term)"
                         formControlName="contrato">
              </ng-select>


            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label>Valor </label>
              <app-info-button [control]="formGroup.controls.valor"></app-info-button>
              <input currencyMask formControlName="valor"   class="input-sm form-control input-s-sm "/>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label>Status</label>
              <app-info-button [control]="formGroup.controls.situacao"></app-info-button>
              <select formControlName="situacao" class="form-control input-sm" (change)="changeStatus()" >
                <option value="EMITIDO" selected="selected">EMITIDO</option>
                <option value="VENCIDO">VENCIDO</option>
                <option value="PAGAMENTO_EFETUADO">PAGAMENTO_EFETUADO</option>
                <option value="CANCELADO">CANCELADO</option>
                <option value="PROTESTADO">PROTESTADO</option>
              </select>
            </div>
          </div>

        </div>

      <div class="row">

          <div class="col-sm-4">
            <div class="form-group">
              <label>Emissão</label>
                  <app-info-button [control]="formGroup.controls.dataEmissao"></app-info-button>

              <input
                class="form-control input-sm"
                bsDatepicker
                [bsConfig]= "datepickerConfigService.setConfig(true)"
                formControlName="dataEmissao"
              >

            </div>
          </div>


          <div class="col-sm-4">
            <div class="form-group">
              <label>Vencimento</label>
              <app-info-button [control]="formGroup.controls.dataVencimento"></app-info-button>

              <input
                class="form-control input-sm"
                bsDatepicker
                [bsConfig]= "datepickerConfigService.setConfig(false)"
                formControlName="dataVencimento"
              >

            </div>
          </div>


          <div class="col-sm-4">
            <div class="form-group">
              <label>Baixas</label>
                <app-info-button [control]="formGroup.controls.dataRegistroPagamento"></app-info-button>

              <input
                class="form-control input-sm"
                bsDatepicker
                [bsConfig]= "datepickerConfigService.setConfig(true)"
                formControlName="dataRegistroPagamento"
                (bsValueChange)="datepickerConfigService.bsValueChange($event,formGroup.controls.dataRegistroPagamento.value)"
              >

            </div>
          </div>




        </div>

      <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <label>Mensagem Impressa no Boleto</label>
              <app-info-button [control]="formGroup.controls.mensagem34"></app-info-button>
              <input formControlName="mensagem34"  type="text"   class="input-sm form-control input-s-sm "/>
            </div>
          </div>


          <div class="col-sm-4">
            <div class="form-group">
              <label>Tipo</label>
              <app-info-button [control]="formGroup.controls.tipo"></app-info-button>
              <select formControlName="tipo" name="tipo" class="form-control input-sm">
              <option value="AVULSO" selected="selected">AVULSO</option>
              <option value="ENTRADA">ENTRADA</option>
              <option value="MENSAL">MENSAL</option>
            </select>
            </div>
          </div>
        </div>

      <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label >Nosso Número</label>
              <app-info-button [control]="formGroup.controls.nossoNumero"></app-info-button>
              <input formControlName="nossoNumero" type="text"  class="input-sm form-control input-s-sm "/>
            </div>
          </div>



      <!--<div class="col-sm-4">
        <div class="form-group">
          <label >Número Iugu</label>
          <div disabled="true" type="text"  class="input-sm form-control input-s-sm ">{{boletoService.boleto?.iugu?.invoiceId}}</div>
        </div>
      </div>-->
    </div>


    <div class="row mt-sm-2">
      <div class="col-lg-5">
        <button (click)="boletoService.goList()" class="btn btn-primary mr-3">Voltar</button>
        <button type="submit" *ngIf="boletoService.operacao!='SHOW'" class="btn btn-primary ">Salvar</button>
      </div>
      <div class="col-lg-7">
      </div>
    </div>

  </form>

</div>
