<ol class="breadcrumb bg-light">
  <li class="breadcrumb-item ">
    Cadastrar Novo Veículo
  </li>
</ol>

<div class="mycontainer">

  <div class="card mt-4">
  <!--  <div class="card-header">
      Dados do Cliente
    </div>-->
    <div class="card-body">
      <form [formGroup]="formGroup" (ngSubmit)="submitForm()">


        <div class="row form-group">

          <div class="col-sm-6">
            <label>Contrato</label>
            <app-info-button [control]="formGroup.controls.contrato"></app-info-button>
            <ng-select class="input-sm w-100"
                       bindLabel="label"
                       notFoundText="não encontrado"
                       [multiple]="false"
                       [items]="searchServices.contratosResult"
                       (search)="searchServices.searchContratos($event.term)"
                       formControlName="contrato">
            </ng-select>
          </div>


          <div class="col-sm-3">
              <label>Placa</label>
              <app-info-button [control]="formGroup.controls.placa"></app-info-button>
              <input formControlName="placa"  class="form-control input-sm text-uppercase" [dropSpecialCharacters]="false" mask="AAA-0A00"  />
          </div>

          <div class="col-sm-3">
              <label>Tipo de Veículo</label>
              <app-info-button [control]="formGroup.controls.tipo"></app-info-button>
              <select formControlName="tipo" class="form-control input-sm" >
                <option value="AUTOMOVEL">AUTOMOVEL</option>
                <option value="MOTOCICLETA">MOTOCICLETA</option>
                <option value="CAMINHAO">CAMINHAO</option>
                <option value="TRATOR">TRATOR</option>
                <option value="PICKUP">PICKUP</option>
              </select>
          </div>


        </div>

        <div class="row form-group">

          <div class="col-sm-3">

              <label>Marca/Modelo</label>
              <app-info-button [control]="formGroup.controls.marcaModelo"></app-info-button>
              <input formControlName="marcaModelo"  class="form-control input-sm" type="text"  />
          </div>

          <div class="col-sm-3">
              <label>Cor</label>
              <app-info-button [control]="formGroup.controls.cor"></app-info-button>
              <select formControlName="cor" class="form-control input-sm" >
                <option value="AMARELA">AMARELA</option>
                <option value="AZUL">AZUL</option>
                <option value="AZUL_METALICA">AZUL_METALICA</option>
                <option value="BEGE">BEGE</option>
                <option value="BRANCA">BRANCA</option>
                <option value="CHUMBO">CHUMBO</option>
                <option value="CINZA">CINZA</option>
                <option value="LARANJA">LARANJA</option>
                <option value="PRATA">PRATA</option>
                <option value="PRETA">PRETA</option>
                <option value="ROSA">ROSA</option>
                <option value="ROSA_METALICA">ROSA_METALICA</option>
                <option value="VERDE">VERDE</option>
                <option value="VERMELHA">VERMELHA</option>
                <option value="VERMELHA_METALICA">VERMELHA_METALICA</option>
              </select>
          </div>

          <div class="col-sm-3">
              <label>Cons. Combustível (km/l)</label>
              <app-info-button [control]="formGroup.controls.consumoCombustivel"></app-info-button>
              <input formControlName="consumoCombustivel"  class="form-control input-sm" type="text" currencyMask [options]="{prefix:'',precision:1}"  />
          </div>

          <div class="col-sm-3">
              <label>Status</label>
              <app-info-button [control]="formGroup.controls.status"></app-info-button>
              <select formControlName="status" class="form-control input-sm" >
                <option></option>
                <option value="ATIVO">ATIVO</option>
                <option value="INATIVO">INATIVO</option>
              </select>
          </div>

        </div>

        <div class="row form-group">


          <div class="col-sm-3">
            <label>Rastreador</label>
            <app-info-button [control]="formGroup.controls.equipamento"></app-info-button>


            <ng-select [items]="searchServices.equipamentosResult" class="input-sm w-100"
                       bindLabel="label"
                       [multiple]="false"
                       (search)="searchServices.searchEquipamentos($event.term)"
                       formControlName="equipamento">
            </ng-select>


          </div>


          <div class="col-sm-3">
            <label>Instalador</label>
            <app-info-button [control]="formGroup.controls.instalador"></app-info-button>

            <ng-select class="input-sm w-100"
                       bindLabel="nome"
                       notFoundText="não encontrado"
                       [multiple]="false"
                       [items]="searchServices.empregadosResult"
                       (search)="searchServices.searchEmpregados($event.term)"
                       formControlName="instalador">
            </ng-select>


          </div>

          <div class="col-sm-3">

            <label>Data Instalação</label>
            <app-info-button [control]="formGroup.controls.dataInstalacao"></app-info-button>
            <input
              class="form-control input-sm"
              bsDatepicker
              [bsConfig]= "bsConfig"
              formControlName="dataInstalacao"
            >
          </div>

          <div class="col-sm-3">
            <label>Velocidade Máxima (Alarme)</label>
            <app-info-button [control]="formGroup.controls.velocidadeMaxima"></app-info-button>
            <input formControlName="velocidadeMaxima"  class="form-control input-sm" type="text" currencyMask [options]="{prefix:'',precision:1}"  />
          </div>

        </div>

        <div class="row form-group">

          <div class="col-sm-3">
            <input type="checkbox" formControlName="comBloqueio"  class="mt-1 mr-1" />
            <label>Com Bloqueio</label>
          </div>

          <div class="col-sm-3">
            <input type="checkbox" formControlName="comCercaVirtual"  class="mt-1 mr-1" />
            <label>Com Cerca Virtual</label>
          </div>

          <div class="col-sm-3">
            <input type="checkbox" formControlName="comEscuta"  class="mt-1 mr-1" />
            <label>Com Escuta</label>
          </div>

          <div class="col-sm-3">
            <input type="checkbox" formControlName="demo"  class="mt-1 mr-1" />
            <label>Demo</label>
          </div>


        </div>

        <div class="row mt-3">
          <div class="col-lg-5">
            <button (click)="veiculoService.goList()" class="btn btn-sm btn-primary mr-3">Voltar</button>
            <button type="submit" *ngIf="veiculoService.operacao!='SHOW'" class="btn btn-sm btn-primary ">Salvar</button>
          </div>
          <div class="col-lg-7">
          </div>
        </div>



      </form>
    </div>
  </div>



</div>
