<div class="row ">


  <div class="col-sm-3">
    <label>Status do Boleto</label>
    <select class="form-control input-sm" [(ngModel)]="status" >
      <option value="VENCIDO">VENCIDO</option>
      <option value="PROTESTADO">PROTESTADO</option>
    </select>
  </div>


  <div class="col-sm-3">
    <div class="form-group ">
      <label>Fim do Período</label>
      <input
        class="form-control input-sm"
        bsDatepicker
        [bsConfig]= "datepickerConfigService.setConfig(true)"
        [(ngModel)]="fim"
      >
    </div>
  </div>

  <div class="col-sm-3">
    <label>&nbsp;</label>
    <button (click)="showRelatorio(download)" class="btn btn-primary btn-sm btn-block">Pdf<i class="fa fa-file-pdf ml-2"></i></button>
  </div>

  <a href="pdfSrc" download="fileName" #download></a>

</div>

