<ol class="breadcrumb bg-light">
  <li class="breadcrumb-item">
    Últimos Lançamentos
  </li>
</ol>
<div class="mycontainer">
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-xs">
      <thead>
        <tr>
          <th>Tipo de Lançamento
            <select [(ngModel)]="lancamentoService.filtro.operacao" class="form-control input input-xs">
              <option [ngValue]="null"></option>
              <option *ngFor="let operacao of lancamentoService.operacoes" [value]="operacao">{{operacao}}</option>
            </select>
          </th>

          <th>Titular
            <ng-select class="input-xs form-control"
                       bindLabel="nome"
                       notFoundText="não encontrado"
                       [multiple]="false"
                       [items]="searchService.empregadosResult"
                       (search)="searchService.searchEmpregados($event.term)"
                       [(ngModel)]="lancamentoService.filtro.operador">
            </ng-select>
          </th>

          <th>Valor</th>

          <th class="text-center">Data de Ocorrência</th>
          <th class="text-center">Ordem de Serviço</th>

          <th>Status
            <select [(ngModel)]="lancamentoService.filtro.status" class="form-control input input-xs">
              <option [ngValue]="null"></option>
              <option *ngFor="let status of lancamentoService.statuses" [value]="status">{{status}}</option>
            </select>
          </th>

          <th class="text-center"><button (click)="filtrar()" class="btn btn-primary btn-sm ml-3 mr-3">Filtrar</button></th>

        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let lancamento of lancamentoService.page.list">
          <td class="text-center">{{lancamento.operacao}}</td>
          <td class="text-center">{{lancamento.operador.nome}}</td>
          <td class="text-center">R${{lancamento.valor | number:"0.2-2":"pt_BR"}}</td>
          <td class="text-center">{{lancamento.data | date:'dd/MM/yy HH:mm'}}</td>
          <td class="text-left">{{lancamento.ordemDeServico?.cliente?.nome}}</td>
          <td class="text-center">{{lancamento.status}}</td>

          <td class="text-center">
            <button (click)="lancamentoService.goShow(lancamento)" title="Ver" class="btn btn-xs btn-secondary btn-21"><i class="fa fa-search"></i></button>
            <button (click)="lancamentoService.goUpdate(lancamento)" title="Atualizar" class="btn btn-xs btn-warning btn-21"><i class="fa fa-wrench"></i></button>
          </td>
        </tr>
      </tbody>

      <tfoot>
      <tr>
        <th colspan="12">
          <div class="ui-toolbar">

            <select [(ngModel)]="lancamentoService.page.pageSize" class="input-xs mr-5" (change)="changePageSize()">
              <option value="10">10 linhas</option>
              <option value="20">20 linhas</option>
              <option value="30">30 linhas</option>
              <option value="40">40 linhas</option>
              <option value="50">50 linhas</option>
            </select>

            <pagination class="ml-5"
                        [totalItems]="lancamentoService.page.totalRecords"
                        [(ngModel)]="lancamentoService.page.pageIndex"
                        [boundaryLinks]="true"
                        (pageChanged)="pageChanged($event)"
                        [itemsPerPage]="lancamentoService.page.pageSize"
                        [maxSize]="10"
                        [rotate]="true"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
            >
            </pagination>

            <div class="ui-toolbar-group-right">
              Número de registros: {{lancamentoService.page.totalRecords}}
            </div>

          </div>
        </th>
      </tr>
      </tfoot>

    </table>

    <button *ngIf="segurancaService.temPermissao('VEICULO_INSERIR')" (click)="lancamentoService.goCreate()"  class="btn btn-primary btn-sm mt-2">
      <i class="fa fa-plus-circle mr-1"></i>Cadastrar Novo Lancamento
    </button>&nbsp;

  </div>
</div>








