<p-dialog [showHeader]="false" [(visible)]="contratoService.showCriaCarne"
          [style]="{width: '900px', textAlign: 'left'}"
          [contentStyle]="{'min-height':'90px'}"
          [modal]="true"
          [baseZIndex]="100000"
          [blockScroll]="true"

>

  <app-criar-carne [contratoSelected]="contratoService.contrato " ></app-criar-carne>

</p-dialog>



<ol class="breadcrumb bg-light">
  <li class="breadcrumb-item">
    Listar Contratos
  </li>
</ol>


<div class="mycontainer">
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-xs">
      <thead>
          <tr>
            <th>Nome
              <ng-select [items]="searchService.clientesResult" class="input-xs w-100"
                         bindLabel="nome"
                         [multiple]="false"
                         (search)="searchService.searchClientes($event.term)"
                         [(ngModel)]="contratoService.filtro.cliente">
              </ng-select>
            </th>
            <th >Status
              <select  [(ngModel)]="contratoService.filtro.status" class="form-control input-xs">
                <option [ngValue]="null"></option>
                <option *ngFor="let status of contratoStatusOptions" [value]="status.value">{{status.label}}</option>
              </select>
            </th>
            <th class="text-center">Início</th>
            <th>Contrato
              <select  [(ngModel)]="contratoService.filtro.contratoGeraCarne" class="form-control input-xs">
                <option [ngValue]="null"></option>
                <option *ngFor="let status of contratoGeraCarneStatus" [value]="status.value">{{status.label}}</option>
              </select>
            </th>
            <th class="text-center">Veículos</th>
            <th class="text-center"><button class="btn btn-sm btn-primary" (click)="filtrar()">Filtrar</button></th>
          </tr>
        </thead>
      <tbody>
      <tr *ngFor="let contrato of contratoService.page.list">
            <td>{{contrato?.cliente?.nome}}</td>
            <td class="text-center">{{contrato?.status  }}</td>
            <td class="text-center">{{contrato?.inicio | date:'dd/MM/yy'}}</td>
            <td class="text-center">
              <button
                (click)="contratoService.goMakeCarne(contrato)"
                class="btn btn-xs btn-{{contrato?.contratoGeraCarne=='PENDENTE'?'danger':'primary'}}">
                {{contrato?.numeroContrato}}
              </button>
            </td>
            <td class="text-center">
              <button (click)="veiculoService.goList()"  class="btn btn-xs btn-secondary mr-2" title="Visualisar Veículos do Contrato" >
                <i class="fa fa-search mr-1"></i><i class="fa fa-car "></i>
              </button>

              <button (click)="veiculoService.goCreate(contrato)"  class="btn btn-xs btn-primary mr-2" title="Adicionar Veículo Novo">
                <i class="fa fa-plus mr-1"></i><i class="fa fa-car "></i>
              </button>

              <button (click)="mapaDataService.goMapaFromCliente(contrato.cliente)" class="btn btn-xs btn-danger" title="Rastrear Veículos">
                <i class="fa fa-map-marker mr-1"></i><i class="fa fa-car "></i>
              </button>



            </td>

            <td class="text-center">
              <div class="inline">
                <button (click)="contratoService.goShow(contrato)" title="Mostrar Contrato" class="btn btn-xs btn-secondary "><i class="fa fa-search"></i></button>
                <button (click)="contratoService.goUpdate(contrato)" title="Atualizar COntrato" class="btn btn-xs btn-warning"><i class="fa fa-wrench"></i></button>
                <button *ngIf="segurancaService.temPermissao('SENHA_QUALQUER')" (click)="segurancaService.goSenha(contrato.cliente)" title="Trocar Senha" class="btn btn-xs btn-danger"><i class="fa fa-lock"></i></button>
                <button *ngIf="segurancaService.temPermissao('MENU_ACESSO')" (click)="segurancaService.goPermissoesUsuario(contrato.cliente)" title="Permissões do Cliente" class="btn btn-xs btn-danger"><i class="fa fa-key"></i></button>
              </div>
            </td>

          </tr>
        </tbody>

      <tfoot>
      <tr>
        <th colspan="12">
          <div class="ui-toolbar">

            <select [(ngModel)]="contratoService.page.pageSize" class="input-xs mr-5" (change)="changePageSize()">
              <option value="10">10 linhas</option>
              <option value="20">20 linhas</option>
              <option value="30">30 linhas</option>
              <option value="40">40 linhas</option>
              <option value="50">50 linhas</option>
            </select>

            <pagination class="ml-5"
                        [totalItems]="contratoService.page.totalRecords"
                        [(ngModel)]="contratoService.page.pageIndex"
                        [boundaryLinks]="true"
                        (pageChanged)="pageChanged($event)"
                        [itemsPerPage]="contratoService.page.pageSize"
                        [maxSize]="10"
                        [rotate]="true"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
            >
            </pagination>

            <div class="ui-toolbar-group-right">
              Número de registros: {{contratoService.page.totalRecords}}
            </div>

          </div>
        </th>
      </tr>
      </tfoot>

      </table>



      <br>
      <button  (click)="contratoService.goCreate()" title="Novo contrato" class="btn btn-sm btn-primary">
        Adicionar Novo Contrato
      </button>&nbsp;


    </div>
</div>







