agm-map {
  height: 100% !important;
}

.breadcrumb {
  margin-bottom: 0;
  z-index: 100;
  position: fixed;
  padding: 1px 5px;

  /* margin-right: 100px; */
}

.breadcrumb-fixed {
  margin-bottom: 0;
  margin-top: 10px;
  z-index: 100;
  position: absolute;
  padding: 3px 5px;
  /* margin-right: 100px; */
}





select {
  font-size: 12px;
  color: #333333;
  background: #ffffff;
  padding: 0.429em;
  border: 1px solid #a6a6a6;
  transition: border-color 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
}

select {
  font-size: 12px;
  color: #333333;
  background: #ffffff;

  border: 1px solid #a6a6a6;
  transition: border-color 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
}



.tg  {
  border-collapse:collapse;
  border-spacing:0;
  border:none;
  border-color:#93a1a1;
}
.tg td{
  text-align:center;
  font-weight:bold;
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:5px 5px;
  border-style:solid;
  border-width:0px;
  overflow:hidden;
  word-break:normal;
  border-color:#93a1a1;
  color:#002b36;
  background-color:#fdf6e3;
}
.tg th{
  text-align:left;
  font-weight:bold;
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:5px 5px;
  border-style:solid;
  border-width:0px;
  overflow:hidden;
  word-break:normal;
  border-color:#93a1a1;
  color:#fdf6e3;
  background-color:#657b83;
}
.tg .tg1{
  background-color:#eee8d5;
  vertical-align:top
}
.tg .tg2{
  vertical-align:top
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}


.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}

.dropup .dropdown-menu {
  transform: translateY(-108%) !important;
}


.ng-select {
  display: inline-block !important;
  padding-top: 6px !important;
}
