<p-dialog header="{{dialogService.messageTitle}}" [(visible)]="dialogService.displayViagemDialog"
          [style]="{width: '900px',  textAlign: 'center'}"
          [modal]="true"
          [baseZIndex]="100000"
          [blockScroll]="true"
>

  <table style='width: 100%' class='tg'>
    <tr>
      <th class='tg2 text-center'>Cidade de Origem</th>
      <th class='tg2 text-center'>Cidade de Destino</th>
      <th class='tg2 text-center'>Veiculo</th>
      <th class='tg2 text-center'>Motorista</th>
    </tr>
    <tr>
      <td class='tg1 text-center'>{{mapDataService.viagem?.cidadeOrigem?.label}}</td>
      <td class='tg1 text-center'>{{mapDataService.viagem?.cidadeDestino?.label}}</td>
      <td class='tg1 text-center'>{{mapDataService.viagem?.veiculo?.placa}}</td>
      <td class='tg1 text-center'>{{mapDataService.viagem?.motorista?.nome}}</td>
    </tr>
    <tr>
      <th class='tg2 text-center'>Data/Hora da Partida</th>
      <th class='tg2 text-center'>Chegada Prevista</th>
      <th class='tg2 text-center'>Chegada Real</th>
      <th class='tg2 text-center'>Status</th>
    </tr>
    <tr>
      <td class='tg1 text-center'>{{mapDataService.viagem?.partida | date:'dd/MM/yy HH:mm'}}</td>
      <td class='tg1 text-center'>{{mapDataService.viagem?.chegadaPrevista | date:'dd/MM/yy HH:mm'}}</td>
      <td class='tg1 text-center'>{{mapDataService.viagem?.chegadaReal | date:'dd/MM/yy HH:mm'}}</td>
      <td class='tg1 text-center'>{{mapDataService.viagem?.status}}</td>
    </tr>
    <tr>
      <th class='tg2 text-center'>Quantidade de Cidades</th>
      <th class='tg2 text-center'>Quabntidade de Clientes</th>
      <th class='tg2 text-center'>Valor da Carga</th>
      <th class='tg2 text-center'>Descrição da Carga</th>
    </tr>
    <tr>
      <td class='tg1 text-center'>{{mapDataService.viagem?.qtdCidades}}</td>
      <td class='tg1 text-center'>{{mapDataService.viagem?.qtdClientes}}</td>
      <td class='tg1 text-center'>R${{mapDataService.viagem?.valorDaCarga | number: '1.2-2':'pt_BR'}}</td>
      <td class='tg1 text-center'>{{mapDataService.viagem?.status}}</td>
    </tr>
    <tr>
      <th class='tg2 text-center'>Peso da Carga(kg)</th>
      <th class='tg2 text-center'>Distânca Odômetro</th>
      <th class='tg2 text-center'>Distancia Rastreador(km)</th>
      <th class='tg2 text-center'>Distânca Rota</th>
    </tr>
    <tr>
      <td class='tg1 text-center'>{{mapDataService.viagem?.pesoDaCarga | number: '1.2-2':'pt_BR' }}{{mapDataService.viagem?.pesoDaCarga?'kg':''}}</td>
      <td class='tg1 text-center'>{{mapDataService.viagem?.distanciaHodometro | number: '1.3-3':'pt_BR'}}{{mapDataService.viagem?.distanciaHodometro?'km':''}}</td>
      <td class='tg1 text-center'>{{mapDataService.viagem?.distanciaPercorrida | number: '1.3-3':'pt_BR' }}{{mapDataService.viagem?.distanciaPercorrida?'km':''}}</td>
      <td class='tg1 text-center'>{{mapDataService.viagem?.rota?.distancia | number: '1.3-3':'pt_BR'}}{{mapDataService.viagem?.rota?'km':''}}</td>
    </tr>
  </table>
</p-dialog>


<p-dialog positionLeft="240" positionTop="120" [(visible)]="dialogService.displayTelimetria" (onHide)="closeTelemetria()" [showHeader]="true" header="Telemetria"
          [style]="{width: '140px',  textAlign: 'center'}"
          [modal]="false"
          [baseZIndex]="100000"
          [blockScroll]="false"
>

  <app-telemetria></app-telemetria>

</p-dialog>


<app-confirm (doEmitter)="doMethod()"></app-confirm>
<app-chart-container [chart]="chart" ></app-chart-container>

<ol class="breadcrumb" style="{margin:0;padding: 0}">

  <li class="breadcrumb-item">

    <ng-select [items]="searchService.clientesResult" class="input-xs w-250px mr-2"  *ngIf="!segurancaService.isCliente()"
               bindLabel="nome"
               placeholder="Cliente..."
               [multiple]="false"
               (search)="searchService.searchClientes($event.term)"
               (change)="onSelectCliente()"
               [(ngModel)]="this.mapDataService.cliente">
    </ng-select>


    <button (click)="displayViagemDialog()" *ngIf="mapDataService.viagem" class="btn btn-danger btn-xs">Viagem {{mapDataService.viagem?.numeroViagem}}</button>


    <select [(ngModel)]="mapDataService.veiculo" (change)="autoRastreioService.controlRastreamento(fim)" name="veiculo" class="input-xs w-200px" [disabled]="mapDataService.viagem" >
      <option [ngValue]="null"></option>
      <option *ngFor="let v of mapDataService.veiculos" [ngValue]="v">&nbsp;{{ v.placa }}-{{v.marcaModelo}}</option>
    </select>

    <label>&nbsp;de&nbsp;</label>

    <input [disabled]="mapDataService.viagem"
      class="input-xs mr-2"
      [(ngModel)]="mapDataService.inicio"
      bsDatepicker
      [bsConfig]= "datePickerConfigService.setConfig(true)"
    >

    <label>&nbsp;até&nbsp;</label>

    <input [disabled]="mapDataService.viagem"
      class="input-xs mr-2"
      [(ngModel)]="mapDataService.fim"
      bsDatepicker
      #fim
      [bsConfig]= "datePickerConfigService.setConfig(true)"
      (ngModelChange)="autoRastreioService.controlRastreamento(fim)"

    >


    <button (click)="botaoRastrearVeiculo()" style="margin-bottom: 2px" class="btn btn-xs btn-danger mr-2"><i class="fas fa-map-marker-alt"></i></button>
    Rastreamento Automático <input type="checkbox"
                                   [(ngModel)]="mapDataService.rastreioAutomatico"
                                   (change)="autoRastreioService.controlRastreamento(fim)"
                            >

    <span *ngIf="mapDataService.lastLoc"  class="ml-2" >Último Sinal:
      <label class="text-danger" [ngClass]="mapDataService.isRastreando()?'blink':''">{{mapDataService.lastLoc.dateLocation | date:'HH:mm':'pt-BR'}}</label>
    </span>

  </li>

</ol>




<p-toast   position="center"></p-toast>

<div #gmap style="width:100%;height: 100% !important;"></div>


<ol class="breadcrumb-fixed" >
  <li class="breadcrumb-item">

    <button (click)="mapaRelatorioService.geraRelatorioPercurso()" class="btn btn-xs btn-primary mr-2">Rel. Percurso</button>
    <button (click)="mapaRelatorioService.geraRelatorioParadas()" class="btn btn-xs btn-primary mr-2">Rel. Paradas</button>



    <div *ngIf="mapDataService.veiculo?.equipamento?.modelo != 'SPOT_TRACE'" class="btn-group" dropdown [dropup]="isDropup">
      <button id="button-dropup" dropdownToggle type="button" class="btn btn-xs btn-danger  dropdown-toggle" aria-controls="dropdown-dropup">Corta-Corrente<span class="caret"></span>
      </button>
      <ul id="dropdown-dropup" *dropdownMenu class="dropdown-menu p-2" style="transform: translateY(-105%);"  role="menu" aria-labelledby="button-dropup">
        <li role="menuitem"><button class="btn btn-sm btn-danger w-100 mb-2" (click)="displayConfirmDialog('bloqueio')" >Bloquear</button></li>
        <li role="menuitem"><button class="btn btn-sm btn-info w-100" (click)="displayConfirmDialog('desbloqueio')">Desbloquear</button></li>
      </ul>
    </div>


   <button (click)="displayTacografo()" class="btn btn-xs btn-danger mr-2">Tacógrafo</button>
   <button *ngIf="mapDataService.veiculo?.equipamento && mapDataService.veiculo?.equipamento?.modelo != ModeloRastreador.SPOT_TRACE && mapDataService.lastLoc" (click)="displayTelemetria()" class="btn btn-xs btn-primary mr-2">Telemetria</button>
   <button *ngIf="mapDataService.viagem" (click)="sairModoViagem()" class="btn btn-xs btn-danger mr-2">Rastrear Outros Veículos</button>

  </li>
</ol>

