<ol class="breadcrumb">
  <li class="breadcrumb-item">
    Despesas da Frota
  </li>
</ol>
<div class="mycontainer">
  <div *ngIf="loaded">

    <p-table [value]="page.list"
             [autoLayout]="true"
             [paginator]="true"
             [rows]="page.pageSize"
             [lazy]="true"
             [totalRecords]="page.totalRecords"
             (onLazyLoad)="onLazyLoad($event)"
    >
      <ng-template  pTemplate="header">
        <tr>
          <th>Categoria
            <select [(ngModel)]="despesaFrotaService.filtro.categoria" class="form-control input input-xs">
              <option [ngValue]="null"></option>
              <option *ngFor="let categoria of despesaFrotaService.categorias" [value]="categoria.value">{{categoria.label}}</option>
            </select>
          </th>
          <th>Espécie
            <select [(ngModel)]="despesaFrotaService.filtro.especie" class="form-control input input-xs">
              <option [ngValue]="null"></option>
              <option *ngFor="let especie of despesaFrotaService.especies" [value]="especie.value">{{especie.label}}</option>
            </select>
          </th>
          <th>Veículo
            <ng-select class="input-xs w-100"
                       bindLabel="placa"
                       notFoundText="não encontrado"
                       [multiple]="false"
                       [items]="searchService.veiculosResult"
                       (search)="searchService.searchVeiculos($event.term)"
                       [(ngModel)]="despesaFrotaService.filtro.veiculo">
            </ng-select>
          </th>

          <th>Motorista
            <ng-select class="input-xs w-100"
                       bindLabel="nome"
                       notFoundText="não encontrado"
                       [multiple]="false"
                       [items]="searchService.motoristasResult"
                       (search)="searchService.searchMotoristas($event.term)"
                       [(ngModel)]="despesaFrotaService.filtro.motorista">
            </ng-select>
          </th>
          <th>Viagem
            <input [(ngModel)]="despesaFrotaService.filtro.viagem.numeroViagem" class="form-control input input-xs" />
          </th>
          <th>Descrição</th>
          <th>Valor</th>
          <th class="text-center"><button (click)="filtrar()" class="btn btn-primary btn-sm" >&nbsp;&nbsp;&nbsp;Filtrar&nbsp;&nbsp;&nbsp;</button></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-despesaFrota>
        <tr>
          <td class="text-center">{{despesaFrota.categoria  }}</td>
          <td class="text-center">{{despesaFrota.especie}}</td>
          <td class="text-center">{{despesaFrota.veiculo?.placa}}</td>
          <td>{{despesaFrota.motorista?.nome }}</td>
          <td class="text-center">{{despesaFrota.viagem?.numeroViagem | padStart:'5':'0'}}</td>
          <td>{{despesaFrota.descricao}}</td>
          <td class="text-center">{{"R$"}}{{despesaFrota.valor | number:'1.2-2':'pt_BR'}}</td>

          <td class="text-center w-75px">

            <button (click)="despesaFrotaService.goShow(despesaFrota)" title="Detalhes" class="btn btn-xs btn-secondary btn-21"><i class="fa fa-search"></i></button>
            <button (click)="despesaFrotaService.goShow(despesaFrota)" title="Alterar" class="btn btn-xs btn-warning btn-21"><i class="fa fa-wrench"></i></button>
            <button (click)="delete(despesaFrota)" title="Excluir" class="btn btn-xs btn-danger btn-21"><i class="fa fa-trash"></i></button>

          </td>

        </tr>
      </ng-template>

      <ng-template pTemplate="paginatorright" >
        <div class="paginatorright">Total de Registros: {{page.totalRecords}}</div>
      </ng-template>

    </p-table>

    <a [href]="pdfSrc" [download]="fileName" #download ></a>


    <br>

    <!--<p-button label="Criar Nova Despesa" (click)="despesaFrotaService.goCreate(despesaFrota)" title="Atualizar" styleClass="ui-button-primary" icon="fa fa-plus" ></p-button>&nbsp;-->

    <ng-template #loading>
      <div>Loading...</div>
    </ng-template>
  </div>
</div>







