
<div class="row ">

  <div class="col-sm-3">
  </div>

  <div class="col-sm-3">
    <div class="form-group ">
      <label>Início do Período</label>
      <input
        class="form-control input-xs"
        bsDatepicker
        [bsConfig]= "bsConfig"
        [(ngModel)]="inicio"
      >
    </div>
  </div>

  <div class="col-sm-3">
    <div class="form-group ">
      <label>Fim do Período</label>
      <input
        class="form-control input-xs"
        bsDatepicker
        [bsConfig]= "bsConfig"
        [(ngModel)]="fim"
      >
    </div>
  </div>


  <div class="col-sm-3">
  </div>

</div>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">

    <hr class="m-2">

    <div class="row pl-3 pr-3">
      <div class="col-sm-6">Produtividade do Veículo</div>
      <div class="col-sm-3">
        <button (click)="relatorioProdutividadePorVeiculo('pdf')" class="btn btn-primary btn-sm btn-block">Pdf<i class="fas fa-file-pdf ml-2"></i></button>
      </div>
      <div class="col-sm-3">
        <button (click)="relatorioProdutividadePorVeiculo('excel')" class="btn btn-primary btn-sm btn-block">Excel<i class="fas fa-file-excel ml-2"></i></button>
      </div>
    </div>

    <hr class="m-2">

    <div class="row pl-3 pr-3">
      <div class="col-sm-6">Consumo do Veículo</div>
      <div class="col-sm-3">
        <button (click)="relatorioConsumoPorVeiculo('pdf')" class="btn btn-primary btn-sm btn-block">Pdf<i class="fas fa-file-pdf  ml-2"></i></button>
      </div>
      <div class="col-sm-3">
        <button (click)="relatorioConsumoPorVeiculo('excel')" class="btn btn-primary btn-sm btn-block">Excel<i class="fas fa-file-excel  ml-2"></i></button>
      </div>
    </div>

    <hr class="m-2">

    <div class="row pl-3 pr-3">
      <div class="col-sm-6">Produtividade do Motorista
      </div>
      <div class="col-sm-3">
        <button (click)="relatorioProdutividadeDoMotorista('pdf')" class="btn btn-primary btn-sm btn-block">Pdf<i class="fas fa-file-pdf  ml-2"></i></button>
      </div>
      <div class="col-sm-3">
        <button (click)="relatorioProdutividadeDoMotorista('excel')" class="btn btn-primary btn-sm btn-block">Excel<i class="fas fa-file-excel  ml-2"></i></button>
      </div>
    </div>

    <hr class="m-2">

    <div class="row pl-3 pr-3">
      <div class="col-sm-6">Produtividade Por Destino da Viagem
      </div>
      <div class="col-sm-3">
        <button (click)="relatorioProdutividadePorDestino('pdf')" class="btn btn-primary btn-sm btn-block">Pdf<i class="fas fa-file-pdf  ml-2"></i></button>
      </div>
      <div class="col-sm-3">
        <button (click)="relatorioProdutividadePorDestino('excel')" class="btn btn-primary btn-sm btn-block">Excel<i class="fas fa-file-excel  ml-2"></i></button>
      </div>
    </div>

    <hr class="m-2">

    <div class="row pl-3 pr-3">
      <div class="col-sm-6">Produtividade Por Estado
      </div>
      <div class="col-sm-3">
        <button (click)="relatorioProdutividadePorEstado('pdf')" class="btn btn-primary btn-sm btn-block">Pdf<i class="fas fa-file-pdf  ml-2"></i></button>
      </div>
      <div class="col-sm-3">
        <button (click)="relatorioProdutividadePorEstado('excel')" class="btn btn-primary btn-sm btn-block">Excel<i class="fas fa-file-excel  ml-2"></i></button>
      </div>
    </div>

    <hr class="m-2">

    <div class="row pl-3 pr-3">
      <div class="col-sm-6">Produtividade Total Agrupada Por Mês
      </div>
      <div class="col-sm-3">
        <button (click)="relatorioProdutividadeMensal('pdf')" class="btn btn-primary btn-sm btn-block">Pdf<i class="fas fa-file-pdf  ml-2"></i></button>
      </div>
      <div class="col-sm-3">
        <button (click)="relatorioProdutividadeMensal('excel')" class="btn btn-primary btn-sm btn-block">Excel<i class="fas fa-file-excel  ml-2"></i></button>
      </div>
    </div>

    <hr class="m-2">

    <div class="row pl-3 pr-3">


      <div class="col-sm-6">Despesas Totais Agrupadas Por Mês
      </div>
      <div class="col-sm-2">
        <input [(ngModel)]="numeroViagem" type="number" class="form-control input-xs mt-1" placeholder="Nº Viagem">
      </div>
      <div class="col-sm-2">
        <button (click)="relatorioDespesaMensal('pdf')" class="btn btn-primary btn-sm btn-block">Pdf<i class="fas fa-file-pdf  ml-2"></i></button>
      </div>
      <div class="col-sm-2">
        <button (click)="relatorioDespesaMensal('excel')" class="btn btn-primary btn-sm btn-block">Excel<i class="fas fa-file-excel ml-2"></i></button>
      </div>


    </div>

    <hr class="m-2">


  </div>
  <div class="col-sm-1"></div>
</div>

