<p-table  [value]="page.list"
         [autoLayout]="true"
         [paginator]="true"
         [rows]="page.pageSize"
         [lazy]="true"
         [totalRecords]="page.totalRecords"
         (onLazyLoad)="onLazyLoad($event)"
         [first]="page.pageIndex * page.pageSize"
         [responsive]="true"


>
  <ng-template  pTemplate="header">
    <tr>
      <th>No. da Rota</th>
      <th>Origem
        <ng-select class="input-xs w-100"
                   bindLabel="label"
                   notFoundText="não encontrado"
                   [multiple]="false"
                   [items]="searchService.municipiosResult"
                   (search)="searchService.searchMunicipios($event.term)"
                   [(ngModel)]="rotasService.filtro.origem">
        </ng-select>
      </th>
      <th>Destino
        <ng-select class="input-xs w-100"
                   bindLabel="label"
                   notFoundText="não encontrado"
                   [multiple]="false"
                   [items]="searchService.municipiosResult"
                   (search)="searchService.searchMunicipios($event.term)"
                   [(ngModel)]="rotasService.filtro.destino">
        </ng-select>
      </th>
      <th>Itinerário</th>
      <th>Distância (km)</th>
      <th class="text-center"><button (click)="filtrar()" class="btn btn-sm btn-primary ml-1 mr-1" >Filtrar</button></th>
    </tr>
  </ng-template>
  <ng-template  pTemplate="body" let-rota>
    <tr>
      <td class="text-center">{{rota.id | padStart:5:"0"}}</td>
      <td>{{rota.origem?.label}}</td>
      <td>{{rota.destino?.label}}</td>
      <td>{{formataItinerario(rota.itinerario)}}</td>
      <td class="text-center" >{{rota.distancia | number:'1.3-3':'pt-BR'}}</td>
      <td class="text-center" >
        <button (click)="update(rota)" title="Atualizar" class="btn btn-xs btn-warning btn-21"><i class="fa fa-wrench"></i></button>
        <button (click)="delete(rota)" title="Apagar" class="btn btn-xs btn-danger btn-21"><i class="fa fa-times"></i></button>
      </td>

    </tr>
  </ng-template>

  <ng-template pTemplate="paginatorright" >
    <div class="paginatorright">Total de Registros: {{page.totalRecords}}</div>
  </ng-template>



</p-table>
