<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Criação de Carnês
  </div>
  <div class="card-body">

    <div class="row">

      <div class="col-sm-8">
        <div class="form-group">
          <label for="cliente">Cliente</label>
          <input id="cliente"
                 type="text"
                 name="cliente"
                 [(ngModel)]="contratoService.contrato.cliente.nome"
                 class="input-sm form-control input-s-sm "  />
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="mensalidade">Valor Mensal Por Veículo</label>
          <input id="mensalidade"
                 type="text" name="mensalidade"
                 [(ngModel)]="contratoService.contrato.mensalidade"
                 class="input-sm form-control input-s-sm " style="" />
        </div>
      </div>

    </div>

    <div class="row">


      <div class="col-sm-4">
        <div class="form-group">
          <label for="quantidadeBoleto">Quantidade de Boletos No
            Carnê</label>
          <select id="quantidadeBoleto" name="quantidadeBoleto"
                  [(ngModel)]="quantidadeBoleto"
                  class="input-sm form-control input-sm ">
            <option value="1">01 boleto</option>
            <option value="2">02 boletos</option>
            <option value="3">03 boletos</option>
            <option value="4">04 boletos</option>
            <option value="5">05 boletos</option>
            <option value="6">06 boletos</option>
            <option value="7">07 boletos</option>
            <option value="8">08 boletos</option>
            <option value="9">09 boletos</option>
            <option value="10">10 boletos</option>
            <option value="11">11 boletos</option>
            <option value="12">12 boletos</option>
          </select>
        </div>
      </div>



      <div class="col-sm-4">
        <div class="form-group">
          <label>Data de Referencia</label>
          <div class="input-group input-group-sm date">
            <input bsDatepicker
                   [bsConfig]= "datepickerConfigService.setConfig(true)"
                   [(ngModel)]="contratoService.contrato.dataBase"
                   class="form-control" style="" readonly="readonly" />
            <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span>
											</span>

          </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="form-group">
          <label for="veiculo">Qtde: 1 veículo(s)</label>
            <select id="veiculo" name="veiculo"
                    class="form-control input-sm" multiple="multiple" size="1"
                    style="height:100px;" readonly="readonly">
              <option *ngFor="let veiculo of contratoService.contrato.veiculos"
                      [value]="veiculo.id">{{veiculo.placa}} - {{veiculo.marcaModelo}}</option>



        </select>
        </div>
      </div>



    </div>

    <div class="row">
      <div class="col-sm-12">
      <p-button label="Criar novo Carnê" (click)="makeCarne()" title="Criar Carnê" styleClass="ui-button-primary" icon="fa fa-plus" ></p-button>&nbsp;
      <p-button label="Fechar" (click)="contratoService.closeMakeCarne()" title="Atualizar" styleClass="ui-button-primary" icon="fa fa-plus" ></p-button>&nbsp;
      </div>

    </div>

  </div>
</div>
