<div class="row ">


  <div class="col-sm-3">
    <label>Instalador</label>
    <ng-select [items]="searchService.empregadosResult" class="form-control input-sm"
               bindLabel="nome"
               [multiple]="false"
               (search)="searchService.searchEmpregados($event.term)"
               [(ngModel)]="filtro.instalador">
    </ng-select>
  </div>

  <div class="col-sm-3">
    <div class="form-group ">
      <label>Inicio do Período</label>
      <input
        class="form-control input-sm"
        bsDatepicker
        [bsConfig]= "datepickerConfigService.setConfig(true)"
        [(ngModel)]="filtro.inicio"
      >
    </div>
  </div>

  <div class="col-sm-3">
    <div class="form-group ">
      <label>Fim do Período</label>
      <input
        class="form-control input-sm"
        bsDatepicker
        [bsConfig]= "datepickerConfigService.setConfig(true)"
        [(ngModel)]="filtro.fim"
      >
    </div>
  </div>

  <div class="col-sm-3">
    <label>&nbsp;</label>
    <button (click)="showRelatorio(download)" class="btn btn-primary btn-sm btn-block">Pdf<i class="fa fa-file-pdf ml-2"></i></button>
  </div>

  <a href="pdfSrc" download="fileName" #download></a>

</div>
