
<ion-list no-padding no-margin>







  <ion-item>
    <ion-icon name="sync" ></ion-icon>
  <ion-label>Auto-rastreio</ion-label>
  <ion-checkbox [(ngModel)]="dataService.rastreioAutomatico" (ionChange)="setConfigs()" ></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-icon name="planet" ></ion-icon>
    <ion-label>Satélite</ion-label>
    <ion-checkbox  [(ngModel)]="dataService.satelite" (ionChange)="setConfigs()" ></ion-checkbox>
  </ion-item>

 <!-- -->




  <ion-item >
    <ion-button  (click)="sair()">Ok
    </ion-button>
  </ion-item>


</ion-list>
